<style>
    .billing-plans-wrapper {
        margin: 0 auto;
        max-width: 55em;
    }

    .billing-plans {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        grid-gap: 1em;
    }

    .billing-plan {
        padding: 1em 0.5em 0.5em 0.5em;
        border-radius: 0.5em;
        border: solid 1px var(--color-shade-2);
        box-shadow: var(--color-shade-2) 2px 2px;
        transition: all 0.3s;
        cursor: pointer;
        will-change: transform;
    }

    .billing-plan:hover {
        border: solid 1px var(--orange);
        box-shadow: var(--orange) 1px 1px 0 0, var(--purple) 2px 2px 0 1px, var(--blue) 4px 4px 0 1px,
            var(--green) 6px 6px 0 1px;
        transform: scale(1.02);
    }

    .billing-plan-name {
        color: var(--color-highlight);
        font-size: var(--font-size-huge);
        text-align: center;
        margin-bottom: 0.5em;
        font-weight: bold;
        text-shadow: var(--color-highlight) 1px 1px;
        -webkit-text-stroke: 1px var(--color-highlight);
        -webkit-text-fill-color: var(--color-bg);
        letter-spacing: 0.05em;
    }

    .billing-plan-price {
        font-size: var(--font-size-small);
        margin: 2em 0 1em 0;
        text-align: center;
    }

    .billing-cta-button {
        padding: 0.8em;
        text-align: center;
        border-radius: 0.5em;
        display: block;
        color: var(--color-highlight);
        font-weight: bold;
        margin-top: 0.5em;
    }

    .billing-cta-button i {
        transition: all 0.3s;
        display: inline-block;
        width: 1em;
    }

    .billing-plan:not(:hover) .billing-cta-button i {
        width: 0;
        opacity: 0;
    }

    .billing-tabs button {
        font-weight: 600;
    }

    .billing-tabs button[aria-current] {
        background: #0074cb;
        color: var(--color-white);
        font-weight: bold;
    }

    .list-item i {
        line-height: 1.2em;
    }
</style>
