{% set main_title = title + ' | Pentacode' %}

{% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/single.html" %}<!-- -->
{% include "styles/side-menu.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %}

    {% include "components/header.njk" %}

    <div class="main-layout">
        <aside>
            {% if not hide_menu %}
                <div class="side-menu">
                    {% include "components/section-menu.njk" %}
                </div>
            {% endif %}
        </aside>

        <div>
            <article class="animation-reveal-children animation-fast">
                <div class="narrow">
                    {% include "components/breadcrumbs.njk" %}
                </div>

                <div>
                    <h1><span>{{ title | markdownify | safe }}</span></h1>
                </div>

                {% if date %}<p class="subtle">{{ date | formatDate }}</p>{% endif %}

                <div>
                    {{ content | markdownify | safe }}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
