<section class="hero animation-reveal-children">
    <h1 class="hero-header">
        <div class="hero-header-intro">Open-source, end-to-end encrypted</div>
        <div class="hero-header-carousel-outer">
            <div class="hero-header-carousel">
                <div class="horizontal center-aligning layout hero-header-carousel-inner">
                    <div class="centering layout"><div style="max-width: 100vw">password management</div></div>
                    <div class="centering layout"><div style="max-width: 100vw">note-taking</div></div>
                    <div class="centering layout"><div style="max-width: 100vw">file storage</div></div>
                    <div class="centering layout"><div style="max-width: 100vw">authenticator</div></div>
                    <div class="centering layout"><div style="max-width: 100vw">secret-sharing</div></div>
                </div>
            </div>
        </div>
    </h1>

    <div class="hero-claim">
        Padloc not only helps you remember all your <strong>passwords</strong>, it also securely stores
        <strong>credit cards</strong>, <strong>notes</strong>, <strong>documents</strong> and more!
    </div>

    <a class="unstyled hero-cta" href="#plans">
        <i class="rocket"></i> <i class="rocket-launch"></i> Get Started <i class="arrow-right"></i>
    </a>

    <img src="/assets/img/screenshots/light/detail_desktop.webp" alt="Screenshot of the Padloc app." />
    <img src="/assets/img/screenshots/dark/detail_desktop.webp" alt="Screenshot of the Padloc app." />
</section>
