---
permalink: news/feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ permalink | absoluteUrl(metadata.url) }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.feedAuthorName }}",
    "url": "{{ metadata.feedAuthorEmail }}"
  },
  "items": [
    {%- for post in collections.all | eleventyNavigation("/news") | excludeDrafts | orderByDate %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title or post.title }}",
      "content_html": {% if post.excerpt %}{{ (post.excerpt + "...") | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ post.publishDate | dateToRfc3339 }}"
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
