{% set main_title = title + ' | Pentacode' %} {% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/blog.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %} {% include "components/header.njk" %}

<div class="main list">
    <div class="vertical center-aligning layout">
        <h1 class="rainbow">Der Pentacode <strong>Blog</strong></h1>
        <p>Produkt-Updates, Tipps & Aktuelles zum Thema Personalmanagement und mehr!</p>
    </div>

    <ul class="categories-menu">
        <li>
            <a href="/blog" class="underline {% if not category %}active{% endif %}">
                <i class="far fa-list-timeline"></i> Alle Rubriken
            </a>
        </li>

        {% for cat in all_categories %}
        <li {% if cat.name === "aktuelles" %} hidden {% endif %}>
            <a
                href="/blog/rubriken/{{ cat.name }}"
                class="underline {{ cat.color }} {% if category === cat.name %}active{% endif %}"
            >
                <i class="far fa-{{ cat.icon }}"></i> {{ cat.title }}</a
            >
        </li>
        {% endfor %}
    </ul>

    <ul class="articles-list">
        {% set pages = collections.all | eleventyNavigation("/blog") | filterByCategory(category) | orderByDate |
        excludeDrafts %}
        <!-- -->

        {% for page in pages %} {% set author = staff[page.author or "lstrasser"] %}
        <li>
            <article>
                <div class="article-cover">
                    <a href="{{ page.url }}">
                        {% if page.cover %}
                        <img src="{{ page.cover }}" alt="{{ page.coverAlt or page.title }}" />
                        {% endif %}
                    </a>
                </div>

                <div class="article-categories">
                    {% for category in page.expanded_categories %}
                    <div class="{{ category.color }}">
                        <i class="far fa-{{ category.icon }} article-category-icon"></i>

                        <a href="/blog/rubriken/{{ category.name }}" class="underline">
                            {{ category.title }}
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <a href="{{ page.url }}" class="article-title">
                    <h2>{{ page.title | markdownify | safe }}</h2>
                </a>

                <div class="article-summary">
                    <p>{{ page.excerpt | plainify | safe }}...</p>
                    <a href="{{ page.url }}" class="underline article-continue">
                        Weiterlesen <i class="fas fa-arrow-right icon"></i>
                    </a>
                </div>

                <div class="article-author center-aligning horizontal layout">
                    <img class="article-author-image" src="{{ author.image }}" alt="Author: {{ author.name }}" />
                    <div class="stretch">
                        <div class="article-author-name">{{ author.name }}</div>
                        <div class="article-author-title">{{ author.title }}</div>
                    </div>
                </div>

                <div class="article-date">
                    {{ page.date | formatDate }}
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
