{% set main_title = blogCategory + ' - ' + title + ' | Pentacode' %}

{% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/blog.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->
{% include "styles/search.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %}

    {% include "components/header.njk" %}

    <div class="main list">
        <ul class="categories-menu horizontal center-justifying layout">
            <li>
                <a href="/blog">Alle Rubriken</a>
            </li>

            <li>
                <a href="/blog/rubriken/das-erfolgreiche-unternehmen" {% if blogCategory === "Das erfolgreiche Unternehmen" %}class="active"{% endif %}>Das erfolgreiche Unternehmen</a>
            </li>

            <li>
                <a href="/blog/rubriken/das-gesunde-team" {% if blogCategory === "Das gesunde Team" %}class="active"{% endif %}>Das gesunde Team</a>
            </li>

            <li>
                <a href="/blog/rubriken/der-zufriedene-kunde" {% if blogCategory === "Der zufriedene Kunde" %}class="active"{% endif %}>Der zufriedene Kunde</a>
            </li>
        </ul>

        <ul class="articles-list animation-reveal-children">
            {% set pages = collections.all | eleventyNavigation("/blog") | filterByMagazinCategory(blogCategory) | orderByDate | excludeDrafts %}

            {% for page in pages %}
                {% set author = staff[page.author or "lstrasser"] %}
                <li>
                    <article>
                        <div class="cover-image">
                            <a href="{{ page.url }}">
                                {% if page.cover %}
                                    <img class="article-cover stretch collapse" src="{{ page.cover }}" alt="{{ page.coverAlt or page.title }}" />
                                {% endif %}
                            </a>
                        </div>

                        <div class="article-categories">
                            {% for category in page.categories %}
                                <div>{{ category }}</div>
                            {% else %}
                                <div>Sonstiges</div>
                            {% endfor %}
                        </div>

                        <a href="{{ page.url }}" class="stretch">
                            <h2>{{ page.title | markdownify | safe }}</h2>
                        </a>

                        <div class="article-summary">
                            {{ page.excerpt | plainify | safe }}...
                            <a href="{{ page.url }}" class="article-continue">
                                weiterlesen <i class="fas fa-arrow-right icon"></i>
                            </a>
                        </div>

                        <div class="horizontal center-aligning layout">
                            <div class="article-author center-aligning horizontal layout stretch">
                                <img class="article-author-image" src="{{ author.image }}" />
                                <div class="article-author-name stretch">{{ author.name }}</div>
                            </div>

                            <div class="article-date">
                                {{ page.publishDate | formatDate }}
                            </div>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
