{% set main_title = title + ' | Magazin | Pentacode' %} {% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/blog.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %} {% include "components/header.njk" %} {% set author = staff[author or "lstrasser"] %}

<div class="main single">
    <article class="main-article">
        <div class="article-categories">
            {% for category in expanded_categories %}
            <div class="{{ category.color }}">
                <i class="far fa-{{ category.icon }} article-category-icon"></i>
                <a href="/blog/rubriken/{{ category.name }}" class="underline">
                {{ category.title }}
            </a>
            </div>
            {% endfor %}
        </div>

        <div class="article-date">
            {{ (publishDate or date) | formatDate }}
        </div>

        <div class="article-author">
            <img class="article-author-image" src="{{ author.image }}" alt="Author: {{ author.name }}" />
            <div class="stretch">
                <div class="article-author-name">{{ author.name }}</div>
                <div class="article-author-title">{{ author.title }}</div>
            </div>
        </div>

        <h1 class="article-title text-clip">{{ title | markdownify | safe }}</h1>

        {% if cover %}
        <div class="article-cover">
            <img src="{{ cover }}" alt="{{ coverAlt or title }}" />
        </div>
        {% endif %}

        <div class="article-content">
            {{ content | markdownify | safe }}
        </div>
    </article>

    <div class="related-articles">
        <h2><i class="fal fa-lightbulb-on"></i> Das könnte Dich auch interessieren:</h2>

        <ul class="articles-list">
            {% set relatedPosts = collections.all | eleventyNavigation("/blog") | getRelatedBycategories(categories,
            eleventyNavigation.key) %}
            <!-- -->

            {% for page in relatedPosts %}
            <!-- -->
            {% set author = staff[post.author or "lstrasser"] %}
            <li>
                <article>
                    <div class="article-cover">
                        <a href="{{ page.url }}">
                            {% if page.cover %}
                            <img src="{{ page.cover }}" alt="{{ page.coverAlt or page.title }}" />
                            {% endif %}
                        </a>
                    </div>

                    <div class="article-categories">
                        {% for category in page.expanded_categories %}
                        <div class="{{ category.color }}">
                            <i class="far fa-{{ category.icon }} article-category-icon"></i> {{ category.title }}
                        </div>
                        {% endfor %}
                    </div>

                    <a href="{{ page.url }}" class="article-title">
                        <h2>{{ page.title | markdownify | safe }}</h2>
                    </a>

                    <div class="article-summary">
                        <p>{{ page.excerpt | plainify | safe }}...</p>
                        <a href="{{ page.url }}" class="underline article-continue">
                            Weiterlesen <i class="fas fa-arrow-right icon"></i>
                        </a>
                    </div>

                    <div class="article-author center-aligning horizontal layout">
                        <img class="article-author-image" src="{{ author.image }}" alt="Author: {{ author.name }}"/>
                        <div class="stretch">
                            <div class="article-author-name">{{ author.name }}</div>
                            <div class="article-author-title">{{ author.title }}</div>
                        </div>
                    </div>

                    <div class="article-date">
                        {{ page.publishDate | formatDate }}
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
