<style>
    .main {
        max-width: 60em;
        margin: 0 auto;
        padding: 1em 1em 1em 1.5em;
    }

    .main.list h1 {
        margin: 0;
    }

    ul.categories-menu {
        margin-top: 2em 0.5em;
        list-style: none;
        font-size: 0.8em;
        font-weight: 600;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: center;;
    }

    ul.categories-menu > :not(:last-child) {
        margin-right: 0.5em;
    }

    ul.categories-menu a {
        display: inline-block;
        padding: 0.4em 0.8em;
        border-radius: 2em;
        color: var(--color-highlight, var(--blue));
    }

    ul.categories-menu a.active {
        border: solid 1px;
    }

    ul.articles-list {
        list-style-type: none;
        padding: 0;
        margin: 2em 0;
        border-left: dashed 2px var(--shade-2);
    }

    ul.articles-list article {
        margin-bottom: 5em;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "category category category date"
            "title title title author"
            "body body cover cover";
        gap: 1em;
        position: relative;
        padding: 0 0 2em 1.5em;
    }

    ul.articles-list article h2 {
        font-size: 1.5em;
        grid-area: title;
        margin: 0;
    }

    .single .main-article .article-title {
        font-size: 2em;
        margin: 0;
        font-weight: normal;
    }

    .article-title {
        grid-area: title;
    }

    .article-categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;
        grid-area: category;
    }

    .article-categories > * {
        color: var(--color-highlight, var(--orange));
        display: inline-block;
    }

    .article-categories > :first-child .article-category-icon {
        position: absolute;
        left: -0.6em;
        padding: 0.5em;
        margin: -0.5em;
        background: var(--color-bg);
        border: solid 1px;
        border-radius: 100%;
        width: 1em;
        height: 1em;
    }

    .article-date {
        opacity: 0.7;
        font-size: 0.9em;
        grid-area: date;
        padding-left: 0.5em;
    }

    .article-author {
        grid-area: author;
        align-self: start;
        display: flex;
        align-items: center;
    }

    .article-author-image {
        width: 2.8em;
        height: 2.8em;
        border-radius: 100%;
        margin-right: 0.5em;
        object-fit: cover;
    }

    .article-author-name {
        font-weight: bold;
    }

    .article-author-title {
        opacity: 0.7;
        font-size: 0.9em;
    }

    .articles-list .article-author {
        margin: 0;
    }

    .articles-list .article-author-image {
        border-radius: 100%;
        margin-right: 0.5em;
        object-fit: cover;
    }

    .article-summary {
        grid-area: body;
        margin-right: 1em;
    }

    .article-summary p {
        margin-top: 0;
    }

    .article-cover {
        position: relative;
        padding-bottom: 62%;
        grid-area: cover;
    }

    .article-cover img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5em;
        object-fit: cover;
        box-shadow: rgb(0 0 0 / 30%) 0 10px 30px -10px;
    }

    .article-continue > .icon {
        font-size: 0.8em;
    }

    .article-content {
        margin: 0.5em 2em;
        grid-area: body;
    }

    .single .main-article {
        padding: 0 2em 15em 2em;
        border-left: dashed 2px var(--shade-2);
        grid-template-areas:
            "category category category date"
            "title title title author"
            "cover cover cover cover"
            "body body body body";
        grid-template-rows: auto auto auto auto;
    }

    .single .main-article .article-cover {
        margin: 1em 0;
    }

    article blockquote {
        margin: 1em 0;
        padding: 0.5em 1em;
        border-left: solid 3px var(--blue);
        background: none;
        text-align: left;
        border-radius: 0;
        color: var(--blue);
    }

    article blockquote ul {
        margin: 0;
        padding-left: 1em;
    }

    article h2,
    article h3,
    article h4 {
        margin-top: 1em;
    }

    .footnotes {
        font-size: 0.8em;
        margin: 1em;
    }

    hr.footnotes-sep {
        border-style: dashed;
        border-width: 1px;
        border-bottom-width: 0;
        opacity: 0.5;
    }

    .footnotes p {
        margin: 0;
    }

    .related-articles {
        margin-top: -5em;
    }

    .related-articles .articles-list {
        margin: 0;
    }

    .related-articles > h2 {
        font-size: 1.2em;
        opacity: 0.7;
        text-align: center;
        margin-bottom: 2em;
    }

    @media (max-width: 900px) {
        article, .single .main-article {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-areas:
                "category"
                "title"
                "author"
                "date"
                "cover"
                "body";
            gap: 1em;
            position: relative;
            padding-top: 0;
            padding-right: 0;
            padding-left: 1.5em;
        }

        .single .main-article .article-title {
            font-size: 1.5em;
        }

        .article-content {
            margin: 0;
        }

        ul.articles-list article {
            margin-bottom: 2em;
        }

        figure {
            float: none !important;
            margin: 0 !important;
            width: auto !important;
        }

        .main.list h1 {
            font-size: 2em;
        }
    }
</style>
