<style>
    .section-contact-us-anchor {
        position: relative;
        top: -6em;
    }

    .section-contact-us .inner {
        max-width: 100%;
        width: 100%;
    }

    .section-contact-us .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .section-contact-us .dropdown {
        font-size: 1.1em;
        border: 1px dashed var(--shade-2);
        border-radius: 0.5em;
        background-color: white;
        color: var(--text-color);
        cursor: pointer;
        width: auto;
        min-width: 200px;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: right 12px top 50%;
        background-size: 12px auto;
        margin: 1em 0;
        transition: all 0.3s ease;

    &:hover {
        border-color: var(--blue);
    }

    &:focus {
        outline: none;
            box-shadow: 0 0 0 3px rgba(var(--primary-color-rgb), 0.2);
        }
    }


    section.section-contact-us h2 {
        font-size: 2.3em;
        line-height: 1.2em;
        text-align: center;
        width: auto;
        margin: 0 auto 0.5em auto;
        background: linear-gradient(
            125deg,
            var(--green) 0%,
            var(--blue) 25%,
            var(--purple) 50%,
            var(--orange) 75%,
            var(--red) 100%
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        display: inline-block;
        font-weight: 400;
    }

    .section-contact-us-subtitle {
        margin: 1em auto;
        max-width: 30em;
        text-align: center;
    }

    .section-contact-us-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section-contact-us-layout > * {
        padding: 1em;
        flex: 1;
    }

    .section-contact-us-layout > :first-child {
        border-right: solid 1px var(--shade-2);
    }

    .section-contact-us .left, 
    .section-contact-us .right {
        flex: 1;
        min-width: 500px;
    }

    @media (max-width: 1200px) {
        .section-contact-us .content { 
            flex-direction: column;
            align-items: center;
        }

        .section-contact-us .left {
            border-right: none;
            margin-bottom: 2em;
        }

        .section-contact-us .left, 
        .section-contact-us .right {
            min-width: 0;
            max-width: 100%;
        }

        .section-contact-us-layout {
            flex-direction: column;
        }

        .section-contact-us-layout > :first-child {
            border-bottom: solid 1px var(--shade-2);
            border-right: none;
        }
    }

    @media (min-width: 1201px) and (max-width: 1700px) {

        .section-contact-us .left {
            border-right: solid 1px var(--shade-2);
            padding-right:25px;
        }

        .section-contact-us .right {
            padding-left:25px;
        }

        .section-contact-us-layout {
            flex-direction: column;
        }

        .section-contact-us-layout > :first-child {
            border-bottom: solid 1px var(--shade-2);
            border-right: none;
        }
    }

</style>
