{% set main_title = title + ' | Pentacode' %}

{% extends "layouts/base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/news.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->
{% include "styles/search.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %}

    {% include "components/header.njk" %}

    <div class="main list">
        <ul class="articles animation-reveal-children">
            {% set pages = collections.all | eleventyNavigation(eleventyNavigation.key) | orderByDate | excludeDrafts %}

            {% for page in pages %}
                {% set author = staff[page.author or "lstrasser"] %}
                <li>
                    <article>
                        <div class="horizontal layout">
                            <div class="stretch article-categories">
                                {% for category in page.categories %}
                                    <div>{{ category }}</div>
                                {% else %}
                                    <div>Sonstiges</div>
                                {% endfor %}
                            </div>
                            <div class="article-date">
                                {{ page.date | formatDate }}
                            </div>
                        </div>

                        <div class="horizontal layout">
                            <a href="{{ page.url }}" class="stretch">
                                <h2>{{ page.title | markdownify | safe }}</h2>
                            </a>
                            <div class="article-author center-aligning horizontal layout">
                                <img class="article-author-image" src="{{ author.image }}" />
                                <div class="stretch">
                                    <div class="article-author-name">{{ author.name }}</div>
                                    <div class="article-author-title">{{ author.title }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="article-body horizontal start-aligning layout">
                            <div class="article-summary stretch collapse">
                                <div>{{ page.excerpt | plainify | safe }}...</div>
                                <a href="{{ page.url }}" class="article-continue">
                                    Weiterlesen <i class="fas fa-arrow-right icon"></i>
                                </a>
                            </div>

                            {% if page.cover %}
                                <img class="article-cover stretch collapse" src="{{ page.cover }}" />
                            {% endif %}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
