<style>
    section.section-offer .inner {
        display: flex;
        justify-content: center;
    }

    section.section-offer .inner .content {
        max-width: 40em;
    }

    section.section-offer .btn.highlight {
        font-size: 1.1em;
        padding: 0.8em 1.2em;
        margin-top: 0.3em;
        align-self: center;
        background: linear-gradient(125deg, var(--color-highlight), var(--color-highlight-bg));
    }

    section.section-offer h2 {
        font-size: 2.3em;
        line-height: 1.2em;
        margin: 0 0 0.2em 0;
        font-weight: 100;
        background: linear-gradient(125deg, var(--color-highlight), var(--color-highlight-bg));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    section.section-offer .offer-terms {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 0.5em;
        margin: 1em 0.5em;
    }

    section.section-offer .offer-terms li {
        font-size: 1.1em;
        padding: 0.1em;
    }

    section.section-offer .offer-terms li i {
        display: inline;
        margin: 0.25em;
    }
</style>
