<style>
    .section-menu {
        position: sticky;
        font-size: 0.9em;
    }

    .section-menu .search-input {
        width: 100%;
        max-width: 20em;
        margin: 0.5em auto;
        font-size: 0.9em !important;
    }

    .section-menu ul {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }

    .section-menu:not(.searching) ul[hidden] {
        display: none;
    }

    .section-menu a {
        padding: 0.4em 0.6em;
        margin: 0.3em 0;
        color: var(--color-fg);
        border-radius: 0.5em;
        display: block;
    }

    .section-menu a .icon {
        display: inline-block;
        width: 1.2em;
    }

    .section-menu a:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.03);
    }

    .section-menu li.active > a {
        background: var(--color-highlight);
        color: var(--color-bg);
    }

    .section-menu .table-of-contents li.active > a {
        background: transparent;
        color: var(--color-highlight);
        font-weight: bold;
        position: relative;
    }

    .section-menu .table-of-contents li.active > a::before {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background: var(--color-highlight);
        position: absolute;
        top: 0;
        left: -4px;
        border-radius: 2px;
    }

    .section-menu li > ul {
        font-size: 0.9em;
        margin-left: 1.3em;
        padding-left: 0.2em;
        border-left: dashed 1px var(--shade-2);
    }

    .section-menu:not(.searching) .table-of-contents li:not(.active) > ul {
        display: none;
    }
</style>
