<style>
    .main-layout {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 1em;
        max-width: 60em;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        margin: 0.5em 1em 0.5em 1em;
        color: var(--color-highlight);
    }

    h2 {
        margin: 1em 0.6em 0.4em 0.6em;
    }

    h3 {
        margin: 1em 0.8em 0.4em 0.8em;
    }

    h4 {
        margin: 1em 0.8em 0.4em 0.8em;
    }

    h2,
    h3,
    h4,
    h5 {
        padding-top: 3em;
        margin-top: -2.5em;
    }

    article {
        margin: 2em 0;
    }

    article table {
        border-collapse: collapse;
        margin: 0.6em;
    }

    article table td {
        padding: 0.3em;
        vertical-align: top;
    }

    p,
    pre {
        margin: 0.5em 1em;
    }

    article img {
        max-width: 100%;
    }

    .cover {
        border-radius: 0.5em;
        width: 90%;
        margin: 0 auto;
        max-width: 25em;
        overflow: hidden;
        color: var(--color-highlight);
    }

    article .cover-icon {
        display: block;
        margin: 0 auto;
        font-size: 8em;
        color: var(--color-highlight);
    }

    .content {
        text-align: center;
    }

    @media (max-width: 70em) {
        .side-menu.right {
            display: none;
        }
    }

    @media (max-width: 55em) {
        .side-menu {
            display: none;
        }
    }

    @media (min-width: 55em) {
        .breadcrumbs {
            display: none;
        }
    }

    @media print {
        .side-menu,
        header,
        footer,
        .breadcrumbs {
            display: none;
        }

        figure {
            page-break-inside: avoid;
        }

        * {
            box-shadow: none !important;
        }
    }
</style>
