<section class="centering reverse horizontal layout">
    <div style="max-width: 35em; position: relative; z-index: 1">
        <h2 class="section-header">
            <div class="outline-rainbow big bottom-margined">Open Source</div>
            <div>and independently audited</div>
        </h2>

        <p>
            We believe that transparency and openness are the best foundation for trust so we are building Padloc
            completely out in the open. Our source code is
            <strong>developed under an open source licence</strong> so anyone can review it, provide feedback and even
            offer contributions at any time!
        </p>
        <p>
            On top of that,
            <strong>Padloc has been audited by three different, independent groups of security experts</strong>, most
            recently by <a href="#">Radically Open Security</a>.
        </p>
        <p>
            <a href="#"><i class="file-lock"></i> Read our security whitepaper</a>
        </p>
        <p>
            <a href="#"><i class="fab fa-github"></i> Check out the source code</a>
        </p>
    </div>

    <div style="width: 25em; height: 30em; position: relative; perspective: 1000px">
        <div class="phone-frame vertical layout">
            <div class="phone-top centering spacing horizontal layout">
                <div class="phone-speaker"></div>
                <div class="phone-camera"></div>
            </div>
            <div class="stretch viewport">
                <img
                    class="img-phone"
                    src="/assets/img/screenshots/light/lock_screen_phone.webp"
                    alt="Screenshot of lock screen with a window showing the underlying source code"
                    loading="lazy"
                />
                <img
                    class="img-phone"
                    src="/assets/img/screenshots/dark/lock_screen_phone.webp"
                    alt="Screenshot of lock screen with a window showing the underlying source code"
                    loading="lazy"
                />
                <div class="code">
                    <div class="code-scan">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
