<div class="section-contact-us-anchor" id="contact-us"></div>

<section class="section-contact-us left" data-animation="slide_2" data-animation_threshold="0.2">
    <div class="inner">
        <div class="content">
            <div class="vertical center-aligning layout">
                <h2>Sie wollen mehr erfahren?</h2>
            </div>

            <p class="section-contact-us-subtitle">
                Egal ob Sie spezifische Fragen haben, eine Online-Demo wünschen oder
                einfach mehr über Pentacode erfahren wollen - unser Sales Team hilft Ihnen schnell und unkompliziert
                weiter.
            </p>

            <div class="section-contact-us-layout" style="max-width: 40em; margin: 0 auto">
                <div>
                    <div>
                        <a href="tel:+4989215482020" style="font-size: 1.2em; line-height: 2em"
                            ><i class="fal fa-phone"></i> +49 89 2154 820 20</a
                        >
                    </div>
                    <div>
                        <a href="mailto:sales@pentacode.app" style="font-size: 1.2em; line-height: 2em"
                            ><i class="fal fa-envelope"></i> sales@pentacode.app</a
                        >
                    </div>
                </div>
                <div>
                    <div class="vertical layout" style="display: inline-block;">
                        <div style="margin-bottom: 0.5em;">
                            <a
                                href="https://calendly.com/pentacode/telefontermin"
                                data-open-scheduler="true"
                                class="btn contact-us text-clip"
                                style="width: 100%"
                            >
                                <i class="far fa-user-headset"></i>
                                <span>Telefontermin Vereinbaren</span>
                            </a>
                        </div>
                        <div>
                            <a
                                href="https://calendly.com/pentacode/demo"
                                data-open-scheduler="true"
                                class="btn contact-us text-clip"
                                style="width: 100%"
                            >
                                <i class="far fa-presentation-screen"></i>
                                <span>Online-Demo Buchen</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>
