<div class="section-contact-us-anchor" id="contact-us"></div>

<section class="section-contact-us left" data-animation="slide_2" data-animation_threshold="0.2">
    <div class="inner">
        <div class="content">
            <div class="left">
                <div class="vertical center-aligning layout">
                    <h2>Sie wollen mehr erfahren?</h2>
                </div>

                <p class="section-contact-us-subtitle">
                    Egal ob Sie spezifische Fragen haben, eine Online-Demo wünschen oder
                    einfach mehr über Pentacode erfahren wollen - unser Sales Team hilft Ihnen schnell und unkompliziert
                    weiter.
                </p>

                <div class="vertical center-aligning layout">
                    <select id="countryDropdown" class="dropdown" onchange="handleDropdownChange()">
                        <option value="DE" selected>🇩🇪 Deutschland</option>
                        <option value="AT">🇦🇹 Österreich</option>
                    </select>
                </div>

                <div class="section-contact-us-layout" style="max-width: 45em; margin: 0 auto">
                    <div>
                        <div>
                            <a id="sales-phone-number" href="tel:+4989215482020" style="font-size: 1.2em; line-height: 2em"
                                ><i class="fal fa-phone"></i> +49 89 2154 820 20 (Sales)</a
                            >
                        </div>
                        <div>
                            <a href="mailto:sales@pentacode.app" style="font-size: 1.2em; line-height: 2em"
                                ><i class="fal fa-envelope"></i> sales@pentacode.app</a
                            >
                        </div>
                    </div>
                    <div>
                        <div class="vertical layout" style="display: inline-block;">
                            <div style="margin-bottom: 0.5em;">
                                <a
                                    id="sales-phone-appointment"
                                    href="https://calendly.com/pentacode/telefontermin"
                                    data-open-scheduler="true"
                                    class="btn contact-us text-clip"
                                    style="width: 100%"
                                >
                                    <i class="far fa-phone"></i>
                                    <span>Telefontermin Vereinbaren</span>
                                </a>
                            </div>
                            <div>
                                <a
                                    id="sales-demo-appointment"
                                    href="https://calendly.com/pentacode/demo"
                                    data-open-scheduler="true"
                                    class="btn contact-us text-clip"
                                    style="width: 100%"
                                >
                                    <i class="far fa-presentation-screen"></i>
                                    <span>Online-Demo Buchen</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="vertical center-aligning layout">
                    <h2>Sie benötigen Hilfe?</h2>
                </div>

                <p class="section-contact-us-subtitle">
                    Egal ob Sie ein technisches Anliegen haben oder auf ein Problem gestoßen sind -
                    unser Support Team steht Ihnen mit Rat und Tat zur Seite.
                </p>

                <div class="section-contact-us-layout" style="max-width: 45em; margin: 0 auto">
                    <div>
                        <div>
                            <a href="tel:+4989215482090" style="font-size: 1.2em; line-height: 2em"
                                ><i class="fal fa-user-headset"></i> +49 89 2154 820 90 (Support)</a
                            >
                        </div>
                        <div>
                            <a href="mailto:sales@pentacode.app" style="font-size: 1.2em; line-height: 2em"
                                ><i class="fal fa-envelope"></i> support@pentacode.app</a
                            >
                        </div>
                    </div>
                    <div class="layout center-aligning">
                        <div class="vertical layout" style="display: inline-block;">
                            <div style="margin-bottom: 0.5em;">
                                <a
                                    href="https://calendly.com/pentacode/support-termin"
                                    data-open-scheduler="true"
                                    class="btn contact-us text-clip"
                                    style="width: 100%"
                                >
                                    <i class="far fa-user-headset"></i>
                                    <span>Support-Termin Vereinbaren</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>

<script>
function handleDropdownChange() {
      const dropdown = document.getElementById('countryDropdown');
      const salesPhoneNumber = document.getElementById('sales-phone-number');
      const salesDemoAppointment = document.getElementById('sales-demo-appointment');
      const salesPhoneAppointment = document.getElementById('sales-phone-appointment');

      const localizedData = {
        AT: {
            salesPhoneNumberText: "<i class=\"fal fa-phone\"></i> +49 89 2154 820 50 (Sales)",
            salesPhoneNumberHref: "tel:+4989215482050",
            salesDemoAppointment: "https://calendly.com/pentacode/demo-oesterreich",
            salesPhoneAppointment: "https://calendly.com/pentacode/telefontermin-oesterreich",
        },
        DE: {
            salesPhoneNumberText: "<i class=\"fal fa-phone\"></i> +49 89 2154 820 20 (Sales)",
            salesPhoneNumberHref: "tel:+4989215482020",
            salesDemoAppointment: "https://calendly.com/pentacode/demo",
            salesPhoneAppointment: "https://calendly.com/pentacode/telefontermin",
        }
      }


      salesPhoneNumber.innerHTML = localizedData[dropdown.value].salesPhoneNumberText;
      salesPhoneNumber.href = localizedData[dropdown.value].salesPhoneNumberHref;
      salesDemoAppointment.href = localizedData[dropdown.value].salesDemoAppointment;
      salesPhoneAppointment.href = localizedData[dropdown.value].salesPhoneAppointment;
    }
</script>