<div class="section-features-anchor" id="funktionen"></div>

<section class="section-features">
    <div class="inner">
        <div class="content">
            <div class="vertical center-aligning layout animate">
                <h2>Eine App, <strong>viele Funktionen</strong></h2>
            </div>

            <p class="section-features-subtitle">
                Von der Bewerbung bis zum Ausscheiden - Pentacode begleitet Sie durch den gesamten Lebenszyklus jedes
                Mitarbeiters.
            </p>

            <ul class="section-features-tabs">
                <li>
                    <a href="#funktionen/onboarding" class="section-features-tab green bouncy">
                        <i class="fal fa-people-pulling"></i>
                        Recruiting & Onboarding
                    </a>
                </li>

                <li>
                    <a href="#funktionen/planung" class="section-features-tab blue bouncy">
                        <i class="fal fa-table"></i>
                        Personalplanung
                    </a>
                </li>

                <li>
                    <a href="#funktionen/zeiterfassung" class="section-features-tab purple bouncy">
                        <i class="fal fa-stopwatch"></i>
                        Zeiterfassung
                    </a>
                </li>

                <li>
                    <a href="#funktionen/verwaltung" class="section-features-tab orange bouncy">
                        <i class="fal fa-envelopes-bulk"></i>
                        Personalverwaltung
                    </a>
                </li>

                <li>
                    <a href="#funktionen/mitarbeiter-app" class="section-features-tab red bouncy">
                        <i class="fal fa-mobile"></i>
                        Mitarbeiter-App
                    </a>
                </li>
            </ul>

            <ul class="section-features-list">
                <li class="green horizontal layout">
                    <div class="section-features-list-anchor" id="funktionen/onboarding"></div>
                    <div class="section-features-list-bullet">
                        <i class="fal fa-people-pulling"></i>
                    </div>
                    <div class="section-features-list-copy">
                        <h3 class="text-clip">Recruiting & Onboarding</h3>
                        <h4>Brauchen Sie etwa Personal?</h4>
                        <p>
                            Von der
                            <em>Stellenausschreibung</em> über die <em>Bewerbung</em> bis zum Ausscheiden des
                            Mitarbeiters - ein einziger, automatisierter Workflow.
                        </p>
                        <p>
                            Statt unterschiedlicher Aufgaben eine intelligente Verzahnung, statt verschiedener Routinen
                            ein einziger Prozess.
                        </p>
                        <a href="/funktionen/recruiting">Mehr Erfahren <i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="section-features-list-screenshots">
                        <div class="section-features-list-screenshots-inner">
                            <div style="transform: translate3d(150px, 0, -100px)">
                                <img
                                    src="/assets/img/screenshots/bewerbungsformular.png"
                                    alt="Dienstplan online Schreiben"
                                    width="1200"
                                />
                            </div>
                            <div style="transform: translate3d(80px, 300px, 100px)">
                                <img
                                    width="800"
                                    src="/assets/img/screenshots/sofortmeldung.png"
                                    alt="Dienstplan online Schreiben"
                                />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="blue horizontal layout">
                    <div class="section-features-list-anchor" id="funktionen/planung"></div>
                    <div class="section-features-list-bullet">
                        <i class="fal fa-calendar"></i>
                    </div>
                    <div class="section-features-list-copy">
                        <h3 class="text-clip">Personalplanung</h3>
                        <h4>Schnell, einfach, spielerisch und intelligent</h4>
                        <p>
                            Erfolg beginnt mit guter Planung. Erstellen Sie <em>Dienstpläne</em> , die für Ihr
                            Unternehmen wirtschaftlich wirksam sind und Ihre Mitarbeiter glücklich machen.
                            <em>Urlaube</em> und andere Abwesenheiten planen Sie direkt mit.
                        </p>
                        <a href="/funktionen/planung">Mehr Erfahren <i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="section-features-list-screenshots">
                        <div class="section-features-list-screenshots-inner">
                            <div style="transform: translate3d(150px, 0, -100px)">
                                <img
                                    src="/assets/img/screenshots/abwesenheiten.png"
                                    alt="Dienstplan online Schreiben"
                                    width="1200"
                                />
                            </div>
                            <div style="transform: translate3d(-50px, 400px, 0)">
                                <img
                                    src="/assets/img/screenshots/dienstplan.png"
                                    alt="Dienstplan online Schreiben"
                                    width="900"
                                />
                            </div>
                            <div style="transform: translate3d(1000px, 300px, 100px)">
                                <img
                                    src="/assets/img/screenshots/urlaubsantrag_bearbeiten_2.png"
                                    alt="Dienstplan online Schreiben"
                                    width="400"
                                />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="purple horizontal layout">
                    <div class="section-features-list-anchor" id="funktionen/zeiterfassung"></div>
                    <div class="section-features-list-bullet">
                        <i class="fal fa-stopwatch"></i>
                    </div>
                    <div class="section-features-list-copy">
                        <h3 class="text-clip">Zeiterfassung</h3>
                        <h4>Rechtssicher, Einfach & Kostensparend</h4>
                        <p>
                            Überlassen Sie die <em>Zeiterfassung</em> Ihren Mitarbeitern und die <em>Kontrolle</em> der
                            Software.
                        </p>
                        <p>
                            Sie erhalten <em>Rechtssicherheit</em> ohne Rechtskenntnis und senken spürbar Ihre
                            Personalkosten. Von der ersten Minute an.
                        </p>
                        <a href="/funktionen/zeiterfassung">Mehr Erfahren <i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="section-features-list-screenshots">
                        <div class="section-features-list-screenshots-inner">
                            <div style="transform: translate3d(150px, 0, -100px)">
                                <img
                                    src="/assets/img/screenshots/zeiterfassung_uebersicht.png"
                                    alt="Dienstplan online Schreiben"
                                    width="1200"
                                />
                            </div>
                            <div style="transform: translate3d(550px, 350px, 0)">
                                <img
                                    src="/assets/img/screenshots/stempeluhr.png"
                                    alt="Dienstplan online Schreiben"
                                    width="850"
                                />
                            </div>
                            <div style="transform: translate3d(50px, 300px, 100px)">
                                <img
                                    src="/assets/img/screenshots/mitarbeiter_app_stempeluhr.png"
                                    alt="Dienstplan online Schreiben"
                                    width="350"
                                />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="orange horizontal layout">
                    <div class="section-features-list-anchor" id="funktionen/verwaltung"></div>
                    <div class="section-features-list-bullet">
                        <i class="fal fa-envelopes-bulk"></i>
                    </div>
                    <div class="section-features-list-copy">
                        <h3 class="text-clip">Personalverwaltung</h3>
                        <h4>Digital und automatisch</h4>
                        <p>
                            Was vorher mit Aufwand verbunden war, entsteht nun in einem vollständig automatisierten
                            Prozessen.
                        </p>
                        <p>
                            <em>Arbeitszeitdokumentation</em>, <em>Urlaubskonten</em> und <em>SFN-Zuschläge</em>,
                            <em>Lohnvorbereitung</em> und mehr - Pentacode erledigt selbstständig, was vorher Zeit und
                            Mühe gekostet hat.
                        </p>
                        <a href="/funktionen/verwaltung">Mehr Erfahren <i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="section-features-list-screenshots">
                        <div class="section-features-list-screenshots-inner">
                            <div style="transform: translate3d(0, 0, -100px)">
                                <img
                                    src="/assets/img/screenshots/berichte_arbeitszeit.png"
                                    alt="Dienstplan online Schreiben"
                                    width="1200"
                                />
                            </div>
                            <div style="transform: translate3d(300px, 250px, 100px)">
                                <img
                                    src="/assets/img/screenshots/arbeitszeitblatt.png"
                                    alt="Dienstplan online Schreiben"
                                    width="1000"
                                />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="red horizontal layout">
                    <div class="section-features-list-anchor" id="funktionen/mitarbeiter-app"></div>
                    <div class="section-features-list-bullet">
                        <i class="fal fa-mobile"></i>
                    </div>
                    <div class="section-features-list-copy">
                        <h3 class="text-clip">Mitarbeiter-App</h3>
                        <h4>Für eine leichtere Planung, zufriedenere Mitarbeiter und ein besseres Miteinander.</h4>
                        <p>
                            Der kürzeste Weg zwischen Arbeitgeber und Arbeitnehmer. Absolut intuitiv in der Bedienung
                            und selbst ohne Sprachkenntnisse leicht verständlich.
                        </p>
                        <p>
                            <em>Konteneinsicht</em>, <em>Dienstplan</em>, <em>Zeiterfassung</em>,
                            <em>Urlaubsanträge</em> und mehr - das umfassende Werkzeug für eine reibungslose
                            Organisation und eine wirkungsvolle Zusammenarbeit.
                        </p>
                        <a href="/mitarbeiter-app">Mehr Erfahren <i class="fal fa-arrow-right"></i></a>
                    </div>
                    <div class="section-features-list-screenshots">
                        <div class="section-features-list-screenshots-inner">
                            <div style="transform: translate3d(300px, 0, -100px)">
                                <img
                                    src="/assets/img/screenshots/mitarbeiter_app.png"
                                    alt="Dienstplan online Schreiben"
                                    width="600"
                                />
                            </div>
                            <div style="transform: translate3d(700px, 450px, 350px)">
                                <img
                                    src="/assets/img/screenshots/mitarbeiter_app_verfuegbarkeiten_2.png"
                                    alt="Dienstplan online Schreiben"
                                    width="400"
                                />
                            </div>
                            <div style="transform: translate3d(300px, 300px, 400px)">
                                <img
                                    src="/assets/img/screenshots/mitarbeiter_app_stunden.png"
                                    alt="Dienstplan online Schreiben"
                                    width="200"
                                />
                            </div>
                            <div style="transform: translate3d(100px, 600px, 200px)">
                                <img
                                    src="/assets/img/screenshots/urlaubsantrag.png"
                                    alt="Dienstplan online Schreiben"
                                    width="400"
                                />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>

<script>
    (() => {
        const screenshotContainers = document.querySelectorAll(".section-features-list-screenshots");
        const tabs = document.querySelectorAll(".section-features-tab");
        window.addEventListener("scroll", () => {
            let currIndex = undefined;
            let minOffset = Infinity;
            for (const [i, container] of screenshotContainers.entries()) {
                const { y, height } = container.getBoundingClientRect();
                const offset = y + height / 2 - window.innerHeight / 2;
                const offsetRatio = offset / window.innerHeight;
                container.style.perspectiveOrigin = `center ${Math.max(
                    -height,
                    Math.min(height / 2 + offset, 2 * height)
                )}px`;
                if (Math.abs(offset) < minOffset) {
                    currIndex = i;
                    minOffset = Math.abs(offset);
                }
            }
            for (const [i, tab] of tabs.entries()) {
                tab.classList.toggle("active", i === currIndex);
            }
        });
    })();
</script>
