<div class="section-features-anchor" id="preise"></div>

<section class="section-preise left purple">
    <div class="inner">
        <div class="content">
            <div class="vertical center-aligning layout animate">
                <h2>Die <strong>passende Lösung</strong> für <strong>jeden Bedarf</strong>.</h2>
            </div>

            <ul class="section-preise-grid">
                <li class="animate">
                    <a href="/#contact-us" class="section-preise-tile blue bouncy">
                        <h3>Standard</h3>
                        <div class="price-wrapper">
                            <div class="price">
                                <div class="price-from">Ab</div>
                                <div class="price-amount">3€</div>
                            </div>
                            <div class="price-unit">pro Mitarbeiter / Monat</div>
                            <div style="font-size: 0.8em">
                                <span style="opacity: 0.7">oder als</span>
                                <strong class="highlight"
                                    >Lifetime-Lizenz <sup><i class="fas fa-infinity" style="font-size: 0.8em"></i></sup
                                ></strong>
                            </div>
                        </div>
                        <ul class="features">
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dienstplanung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Urlaubsplanung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Arbeitszeit-, Urlaubs und SFN-Konto</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Vollständige Lohnvorbereitung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Schnittstellen zu allen gängigen Buchhaltungsprogrammen</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Management-Informationen in Echtzeit</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dokumentenarchiv</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Stellenausschreibungen & Bewerbungsmanagement</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Sofortmeldung</div>
                            </li>
                            <li class="highlight">
                                <i class="fal fa-check"></i>
                                <div>Digitale Stempeluhr (+1€)</div>
                            </li>
                            <li class="highlight">
                                <i class="fal fa-check"></i>
                                <div>Mitarbeiter-App (+1€)</div>
                            </li>
                        </ul>

                        <div class="call-to-action">Jetzt Termin Vereinbaren</div>
                    </a>
                </li>
                <li class="animate">
                    <a href="/#contact-us" class="section-preise-tile red bouncy">
                        <h3>Enterprise</h3>
                        <div class="price-wrapper">
                            <div class="price">
                                <div class="price-upon-request">Preis auf Anfrage</div>
                            </div>
                            <div class="all-features-plus">Alle Standard-Features, plus:</div>
                        </div>
                        <ul class="features">
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dedizierte Datenbank & Server</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>SLA mit 99,9% Up-Time Garantie</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Gehosted, On-Premise oder White-Label</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Admin-Portal</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Multi-Factor Authentifizierung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Eigenes Branding und Design</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Maßgeschneiderte Features und Schnittstellen</div>
                            </li>
                        </ul>

                        <div class="call-to-action">Jetzt Kontakt Aufnehmen</div>
                    </a>
                </li>
            </ul>

            <div style="max-width: 40em; font-size: 0.9em; padding: 0.5em" class="animate">
                <p>
                    <i class="fas fa-infinity"></i> Monatliche Zahlungen sind Ihnen zuwider? Kein Problem! Auf Anfrage
                    können Sie auch gerne eine <strong>Dauerlizenz gegen eine Einmal-Zahlung erwerben</strong>. Diese
                    ist je nach Bundesland sogar <strong>bis zu 50% förderfähig</strong>! Sprechen Sie uns bei Interesse
                    einfach darauf an.
                </p>
                <p>
                    <i class="fas fa-hand-holding-heart"></i> Wir unterstützen soziales Engagement von Herzen gerne!
                    Sollte es sich bei Ihrem Unternehmen um eine
                    <strong>gemeinnützige oder karitative</strong> Einrichtung halten, dann sprechen Sie uns gerne auf
                    unsere <strong>speziellen Konditionen für Non-Profit-Organisationen an</strong>!
                </p>
            </div>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>
