{% set slides = section.slides  %}

{% if section.alignment === "right" %}
    {% set slides = section.slides | reverse %}
{% endif %}

<section
    class="section-slides {{ section.alignment }}"
    style="--color-highlight: var(--{{ section.color_1 }}); --color-highlight-bg: var(--{{ section.color_2 }});"
    data-animation="slide_1"
    data-animation_direction="{% if section.alignment === "right" %}reverse{% else %}normal{% endif %}"
>
    <div class="inner">
        <div class="content">
            <h2>{{ section.title | markdownify | safe }}</h2>

            {% if section.subtitle %}
                <h3>
                    {{ section.subtitle | markdownify | safe }}
                </h3>
            {% endif %}

            {{ section.text | markdownify | safe }}

            <ul class="tabs">
                {% for slide in section.slides %}
                    <li class="tab-outer">
                        <div class="tab" data-slide="{{ loop.index0 }}" role="presentation">
                            <div class="tab-inner" role="presentation">
                                <i class="tab-expand-icon fal fa-arrow-right"></i>

                                <h4>
                                    <i class="fal fa-{{ slide.icon }}"></i>
                                    {{ slide.title | markdownify | safe }}
                                </h4>

                                {{ slide.text | markdownify | safe }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="images">
            <div class="scaler">
                <div class="images-inner">
                    <div class="slides">
                        <div class="slides-inner">
                            <div style="width: 100%; pointer-events: none;"></div>
                            {% for slide in section.slides %}
                                <div class="slides-slide" data-slide="{{ loop.index0 }}">
                                    <div class="slides-slide-inner">
                                        <img src="{{ slide.image }}" loading="lazy" class="animate" alt="{{ (slide.alt or slide.title) | plainify }}" />
                                    </div>
                                </div>
                            {% endfor %}
                            <div style="width: 100%; pointer-events: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>
