{# TODO: Fix this! #}

{# {{ $slides := .slides }}

{{ if eq .alignment "right" }}
    {{ $slides = partial "reverse-slice.html" $slides }}
{{ end }} #}

<section
    class="section-slides {{ alignment }}"
    style="--color-highlight: var(--{{ color_1 }}); --color-highlight-bg: var(--{{ color_2 }});"
    data-animation="slide_1"
    data-animation_direction="{% if alignment == "right" %}reverse{% else %}normal{% endif %}"
>
    <div class="inner">
        <div class="content">
            <h2>{{ title | markdownify | safe }}</h2>

            {% if subtitle %}
                <h3>
                    {{ subtitle | markdownify | safe }}
                </h3>
            {% endif %}

            {# {{ text | markdownify | safe }} #}

            <ul class="tabs">
                {# {{ range $i, $slide := .slides }}
                    <li class="tab-outer">
                        <div class="tab" data-slide="{{ $i }}" role="presentation">
                            <div class="tab-inner" role="presentation">
                                <i class="tab-expand-icon fal fa-arrow-right"></i>

                                <h4>
                                    {{ with $slide.icon }}<i class="fal fa-{{ . }}"></i>{{ end }}
                                    {{ $slide.title | markdownify }}
                                </h4>

                                {{ $slide.text | markdownify }}
                            </div>
                        </div>
                    </li>
                {{ end }} #}
            </ul>
        </div>

        <div class="images">
            <div class="scaler">
                <div class="images-inner">
                    <div class="slides">
                        <div class="slides-inner">
                            <div style="width: 100%; pointer-events: none;"></div>
                            {# {{ range $i, $slide := $slides }}
                                <div class="slides-slide" data-slide="{{ $i }}">
                                    <div class="slides-slide-inner">
                                        <img src="{{ $slide.image }}" loading="lazy" class="animate" alt="{{ default $slide.alt ($slide.title | markdownify | plainify) }}" />
                                    </div>
                                </div>
                            {{ end }} #}
                            <div style="width: 100%; pointer-events: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "components/divider.njk" %}
</section>
