{% set main_title = title + ' | Pentacode' %}

{% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/list.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->
{% include "styles/search.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %}

    {% include "components/header.njk" %}

    <div class="main-layout">
        <aside>
            {% if kind !== "home" %}
                <div class="side-menu">
                    {% include "components/section-menu.njk" %}
                </div>
            {% endif %}
        </aside>

        <div class="main animation-reveal-children">
            {% if kind !== "home" %}
                {% include "components/breadcrumbs.njk" %}
            {% endif %}

            <div class="content">
                <div>
                    <i class="cover-icon fal fa-{{ icon or "scroll" }}"></i>

                    <h1>
                        <span>{{ title | markdownify | safe }}</span>
                    </h1>
                </div>

                {{ content | markdownify | safe }}
            </div>

            {% if kind === "home" %}
                {% include "components/section-menu.njk" %}
            {% endif %}

            <ul class="articles animation-reveal-children">
                {# TODO: Finish this #}
                {# {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">
                            <article>
                                <div>
                                    <i
                                        class="icon fal fa-{{ (default "scroll" (default .Parent.Params.icon .Params.icon)) }}"
                                    ></i>

                                    <h2 class="title"><span>{{ .Title }}</span></h2>
                                </div>

                                <div class="text">
                                    {{ default (.Summary | truncate 200) (.Param "description") }}...
                                </div>
                            </article>
                        </a>
                    </li>
                {{ end }} #}
            </ul>
        </div>
    </div>
{% endblock %}}
