html,
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}

body,
input,
button {
    -webkit-font-smoothing: antialiased;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.5em;
    font: inherit;
}

input {
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 0.5em 0.8em;
}

input:focus {
    border-color: #23b4ff;
}

button {
    cursor: pointer;
}

*:focus {
    outline: none;
}

h1 {
    font-size: 250%;
    font-weight: 300;
    margin: 20px 0;
    line-height: 1.2em;
}

h2 {
    font-size: 150%;
    font-weight: 400;
}

h3 {
    font-size: 120%;
    font-weight: 600;
}

h4 {
    font-size: 100%;
    font-weight: 600;
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    font-weight: 400;
}

button:hover,
a:hover {
    opacity: 0.7;
}

button,
.btn {
    background: var(--color-fg);
    color: var(--color-bg);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.9em;
    position: relative;
    vertical-align: middle;
    border-radius: 8px;
    font: inherit;
    font-weight: bold;
    border: none;
}

button.highlight,
.btn.highlight {
    background: var(--color-highlight);
}

.btn .icon {
    font-size: 1.1em;
}

.btn .icon:first-child,
.btn i:first-child {
    margin-right: 0.5em;
}

.btn .icon:last-child,
.btn i:last-child {
    margin-left: 0.5em;
}

footer {
    display: block;
    text-align: center;
    border-top: solid 1px rgba(0, 0, 0, 0.05);
    font-size: 0.8em;
}

footer nav {
    overflow: auto;
    padding: 1em;
    text-align: center;
}

footer nav ul {
    display: inline-flex;
    align-items: center;
}

footer a {
    margin: 0 5px;
}

footer .copyright {
    margin: -0.5em 0 0.5em 0;
    opacity: 0.5;
}

table {
}

th {
    text-align: left;
    vertical-align: top;
    width: 150px;
}

.breadcrumbs {
    margin: -0.5em 0.5em 0.5em 0.5em;
}

.breadcrumbs nav ul {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav ul li:not(:last-child) {
    margin-right: 1em;
}

.subtle {
    color: var(--color-subtle);
}

figure {
    margin: 40px 0;
    position: relative;
    text-align: center;
}

figure figcaption {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.8;
    padding: 0.5em;
}

figure img {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    overflow: hidden;
}

figure img.no-shadow {
    box-shadow: none;
}

figure.border img {
    border: solid 1px #ccc;
    box-sizing: border-box;
}

figure img {
    max-width: 100%;
}

figure.float img {
    max-width: 300px;
    max-height: none;
}

figure.float.right {
    float: right;
    margin: 10px 0 10px 30px;
}

figure.float.left {
    float: left;
    margin: 0 20px 0 0;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 0.5em;
    margin-bottom: 0.5em;
}

.img-grid img {
    margin: 0 auto;
}

blockquote {
    margin: 1em;
    padding-left: 1em;
    border-left: solid 2px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.cover-image {
    position: relative;
    background: var(--color-bg);
    overflow: hidden;
    border-radius: 0.5em;
    max-width: 400px;
    margin: 0 auto;
}

.cover-image::before {
    content: "";
    display: block;
    padding-top: 61.8%;
}

.cover-image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-image .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 80%;
}

section {
    clear: both;
    margin-bottom: 50px;
    box-sizing: border-box;
    margin: 2em;
    position: relative;
    z-index: 1;
    color: var(--color-fg);
}

section .inner {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    max-width: var(--max-inner-width);
}

section .inner .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 50px 0;
}

section .inner .content p {
    margin-top: 0;
}

section h1 {
    margin: 0 0 0.5em 0;
}

section h3 {
    margin: 0 0 1em 0;
}

.note {
    background: rgba(89, 198, 255, 0.1);
    padding: 1em;
    border: solid 1px #23b4ff;
    clear: both;
    margin: 1em 0;
    border-radius: 8px;
}

.note p {
    text-align: left;
}

.note p:first-child {
    margin-top: 0;
}

.note p:last-child {
    margin-bottom: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
}

.icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: currentColor;
}

.nobreak {
    white-space: nowrap;
}
