body {
    overflow-x: hidden;
}

section.feature {
    margin: 4em 2em 8em 2em;
    perspective: 2000px;
    margin-bottom: 0;
    margin-top: 0;
    transform-style: preserve-3d;
}

section.feature h2 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin: 0 0 0.2em 0;
    font-weight: 100;
    background: linear-gradient(125deg, var(--color-highlight), var(--color-highlight-bg));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

section.feature h3 {
    margin-bottom: 0.5em;
}

section .feature-button.highlight {
    background: linear-gradient(125deg, var(--color-highlight), var(--color-highlight-bg));
}

.divider {
    width: 100%;
    height: 160px;
    margin: 10px 0 30px 0;
    position: relative;
    z-index: 100;
}

.divider .stop1 {
    stop-color: var(--color-highlight);
}

.divider .stop2 {
    stop-color: var(--color-highlight-bg);
}

section .inner {
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
}

section .inner .content {
    display: block;
    position: relative;
    z-index: 1;
    background: var(--color-bg);
    min-width: 500px;
    padding: 3em 1em;
}

section .inner .content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    left: -100px;
    z-index: -1;
    transform: translateZ(1px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}

section .inner .content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    right: -100px;
    z-index: -1;
    transform: translateZ(1px);
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}

section.right .inner {
    flex-direction: row-reverse;
}

section.right .divider {
    transform: scale(-1, 1);
}

.images {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: visible;
    transform-style: preserve-3d;
}

.images .images-inner {
    width: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    transform-style: preserve-3d;
}

.images-inner > * {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    transform-origin: center center;
}

.images-inner > .image-back {
    width: 1200px;
    height: 900px;
}

section.right .image-back {
    transform: translate3d(-100px, -100px, 0) rotateY(20deg) rotateX(10deg);
}

section.left .image-back {
    transform: translate3d(100px, -100px, 0) rotateY(-20deg) rotateX(10deg);
}

.images-inner > .image-middle {
    width: 900px;
    height: 675px;
}

section.right .image-middle {
    transform: translate3d(250px, 150px, 40px) rotateY(20deg) rotateX(10deg);
}

section.left .image-middle {
    transform: translate3d(50px, 180px, 50px) rotateY(-20deg) rotateX(10deg);
}

.images-inner > .image-front {
    width: 375px;
    height: 667px;
}

section.right .image-front {
    transform: translate3d(50px, 220px, 250px) scale(0.9) rotateY(20deg) rotateX(10deg);
}

section.left .image-front {
    transform: translate3d(800px, 220px, 250px) scale(0.9) rotateY(-20deg) rotateX(10deg);
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 40px;
    border-radius: 2em;
    background: white;
}

.feature-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    gap: 1em;
    margin: 1em -0.5em;
    font-size: 0.8em;
}

.feature-button-outer {
    position: relative;
    height: 100px;
}

.feature-button .title {
    font-size: 1.1em;
    margin: 0.2em 0.1em 0.1em 0.1em;
    font-weight: bold;
}

.feature-buttons .feature-button {
    cursor: pointer;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100px;
    background: var(--color-bg);
    border: dashed 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    overflow: hidden;
    will-change: transform, height;
}

.feature-button .feature-button-inner {
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    background: linear-gradient(125deg, var(--color-highlight), var(--color-highlight-bg));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--color-bg);
    padding: 0.3em 0.6em;
}

.feature-button:hover {
    border: none;
    z-index: 110;
    opacity: 1 !important;
    box-shadow: rgba(0, 0, 0, 0.9) 0 0 10px -5px;
    /* height: auto; */
}

.feature-button:hover .feature-button-inner {
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
    background-clip: unset;
    border: transparent;
}

.feature-buttons .feature-button i {
    margin: 0;
}
