header {
    width: 100%;
    font-size: 110%;
    position: sticky;
    background: white;
    top: 0;
    z-index: 10;
    padding: 0 1em;
    margin: 1em 0;
    box-sizing: border-box;
}

header .header-inner {
    max-width: var(--max-inner-width);
    margin: 0 auto;
    height: 3em;
    box-sizing: border-box;
}

header .btn {
    font-size: 0.9em;
}

header nav.sections ul li:not(:last-child),
header nav.login-signup ul li:not(:last-child) {
    margin-right: 1em;
}

header nav ul li a {
    color: var(--color-fg);
    display: block;
}

header nav ul li.active a {
    color: var(--color-highlight);
    font-weight: bold;
}

header .logo {
    display: block;
    height: 2em;
    width: 10em;
    position: relative;
}

header .logo path {
    stroke: currentColor;
}

header .menu-button {
    background: transparent;
    color: var(--color-fg);
    padding: 0.5em;
}

header .menu-button i {
    margin: 0 !important;
}

header .menu {
    position: relative;
}

header .menu-inner {
    position: absolute;
    right: 0;
    box-shadow: 0 0px 10px rgba(154, 160, 185, 0.05), 0 0px 40px rgba(166, 173, 201, 0.2);
    z-index: 10;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 12em;
    --color-bg: var(--color-white);
    --color-fg: var(--color-black);
    background: var(--color-bg);
}

header .menu-sections ul {
    flex-direction: column;
    align-items: stretch;
}

header .menu-sections ul li a {
    margin-top: 0.8em;
    padding: 0 0.5em;
    font-weight: 600;
}

header .menu-login-signup {
    padding-bottom: 0.5em;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

header .menu-login-signup ul > * {
    flex: 1;
    text-align: center;
}

@media (min-width: 700px) {
    .menu {
        display: none;
    }
}

@media (max-width: 700px) {
    header .section-item,
    header .login-signup {
        display: none;
    }
}
