section.hero h1 {
    margin-bottom: 0.3em;
}

section.hero h2 {
    margin-top: 0;
}

section.hero h3 {
    font-weight: 300;
    margin-bottom: 40px;
}

section.hero h3 strong {
    font-weight: 700;
}

section.hero .inner {
    display: flex;
}

section.hero .inner .btn {
    font-size: 120%;
}

section.hero .inner .content {
    flex: 1;
}

section.hero .slides {
    width: 500px;
    position: relative;
    overflow: visible;
    perspective: 2000px;
    transform-style: ;
}

section.hero .slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    transform-origin: 0 0;
    transform: scale(0.5);
    transform-style: preserve-3d;
}

.slides .slide img {
    transform-origin: center center;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1em;
    background: white;
}

section.hero .slides .slide.one-front img {
    transform: translate3d(-80px, 168px, 0) rotateY(-20deg) rotateX(10deg);
}

section.hero .slides .slide.one-back img {
    transform: translate3d(50px, 50px, 0) rotateY(-20deg) rotateX(10deg);
}

@media (max-width: 700px) {
    section .inner .content {
        padding: 2em 1em 4em 1em !important;
        text-align: left !important;
        align-items: flex-start !important;
    }

    section.plans .inner .content {
        padding: 1em !important;
    }

    section .inner .buttons {
        justify-content: flex-start !important;
    }
}
