section {
    margin: 4em 2em 8em 2em;
    perspective: 2000px;
}

section h1 {
    background: linear-gradient(45deg, var(--color-highlight), var(--color-highlight-bg) 150%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

section .btn.highlight {
    background: linear-gradient(45deg, var(--color-highlight), var(--color-highlight-bg) 200%);
}

section {
    margin-bottom: 0;
    margin-top: 0;
}

.divider {
    width: 100%;
    height: 160px;
    margin: 10px 0 30px 0;
    position: relative;
    z-index: 100;
}

.divider .stop1 {
    stop-color: var(--color-highlight);
}

.divider .stop2 {
    stop-color: var(--color-highlight-bg);
}

section .inner {
    display: flex;
    align-items: center;
}

section .inner .content {
    flex: 1;
    position: relative;
    z-index: 1;
    background: var(--color-bg);
    min-width: 500px;
    padding: 0 1em;
    margin: 3em 0;
}

section .inner .content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    left: -100px;
    z-index: -1;
    transform: translateZ(1px);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}

section.right .inner {
    flex-direction: row-reverse;
}

section.right .divider {
    transform: scale(-1, 1);
}

.feature-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    gap: 1em;
}

.feature-buttons .btn {
    color: var(--color-highlight);
    border: dashed 1px var(--color-highlight-bg);
    background: transparent;
    font-weight: 300;
    font-size: 0.8em;
    transition: background 0.1s, color 0.1s;
    cursor: pointer;
}

.feature-buttons .btn:hover {
    color: var(--color-bg);
    background: var(--color-highlight);
    border-color: transparent;
}

.feature-buttons .btn i {
    margin: 0;
}

.slides {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: visible;
}

.slides .slides-inner {
    width: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    transform-style: preserve-3d;
}

.slides .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    transform-origin: center center;
}

section.hero h1 {
    margin-bottom: 0.3em;
}

section.hero h2 {
    margin-top: 0;
    font-size: 1.4em;
}

section.hero h3 {
    font-weight: 400;
    margin-bottom: 40px;
}

section.hero h3 strong {
    font-weight: 700;
}

section.hero .inner .btn {
    font-size: 120%;
}

section.simple .slides .slide.front {
    transform: translate3d(200px, 150px, 40px) rotateY(20deg) rotateX(10deg);
}

section.simple .slides .slide.back {
    transform: translate3d(-150px, -150px, 0) rotateY(20deg) rotateX(10deg);
}

section.simple .slide img {
    box-sizing: border-box;
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 40px;
    border-radius: 2em;
    background: white;
}

section.secure .issues {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(0, -100px) rotateY(-15deg) rotateX(10deg);
}

section.secure .issues > * {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 40px;
    border-radius: 1em;
    padding: 1em 1.5em;
    margin-bottom: 2em;
}

section.controlling {
    perspective: 2500px;
}

section.controlling .reports {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em 0.5em;
    transform: translate(-100px, -200px) rotateX(45deg) rotate(-25deg);
    transform-style: preserve-3d;
}

section.hero .slides {
    overflow: hidden;
    height: 400px;
}

section.hero .slides::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform: translateZ(1px);
    background: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0) 80%,
            rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 90%,
            rgba(255, 255, 255, 1) 100%
        );
}

section.hero .features-outer {
    transform: translate(100px, 0) rotateX(55deg) rotate(15deg);
}

@keyframes roll {
    from {
        transform: translate(0, 100%);
    }

    to {
        transform: translate(0, -100%);
    }
}

section.hero .features {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4em 2em;
    padding: 2em 0;
    width: 20em;
    text-align: center;
    animation: roll linear 40s -20s infinite;
}

section.hero .features:nth-child(2) {
    animation-delay: 0s;
}

section.hero .feature {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}

section.hero .feature i {
    display: block;
    font-size: 3em;
    margin-bottom: 0.2em;
    color: var(--color-highlight);
}

section.independent .roster-metrics {
    transform: translate(60px, -40px) rotateY(-10deg) rotateX(10deg);
}

section.independent .roster-metrics img {
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 40px;
    border-radius: 2em;
    background: white;
}

section.innovative .slides-inner {
    transform: scale(0.5);
}

section.innovative .desktop {
    transform: translate(-100px, -200px) rotateY(30deg) rotateX(10deg);
}

section.innovative .tablet {
    transform: translate(150px, 100px) rotateY(30deg) rotateX(10deg);
}

section.innovative .phone {
    transform: translate(-150px, 400px) rotateY(30deg) rotateX(10deg);
}

section.innovative .slide img {
    padding: 1em;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 40px;
    border-radius: 2em;
    background: white;
}

section.offer .inner {
    justify-content: center;
}

section.offer .inner .content {
    max-width: 40em;
}

section.offer button.highlight {
    font-size: 1.1em;
    padding: 0.8em 1.2em;
    margin-top: 0.3em;
    align-self: center;
}

section.offer i.fa-search {
    font-size: 13em;
    color: var(--color-red);
    float: right;
}

@media (max-width: 1024px) {
    section {
        margin: 2em;
    }

    section .inner {
        flex-direction: column !important;
    }

    section .inner .content {
        background: rgba(255, 255, 255, 0.5);
        min-width: 0;
        max-width: 100%;
    }

    section:not(.hero) .slides {
        display: none;
    }
}

@media (max-width: 700px) {
    section {
        margin: 0 1em;
    }
}
