.section-menu {
    position: sticky;
    font-size: 0.9em;
}

.section-menu ul {
    position: relative;
}

.section-menu li.back a {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

.section-menu a {
    padding: 0.4em 0.6em;
    margin: 0.3em 0;
    color: var(--color-fg);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

.section-menu a .thumb {
    border-radius: 0.2em;
    overflow: hidden;
    flex: none;
    margin-right: 0.5em;
}

.section-menu a .thumbnail-img {
    width: 3em;
}

.section-menu a:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.03);
}

.section-menu a .body {
    min-width: 0;
    flex: 1;
}

.section-menu a .date {
    font-size: 0.8em;
    opacity: 0.8;
}

.section-menu a .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1em;
}

.section-menu .active a {
    background: var(--color-highlight);
    color: var(--color-bg);
}

.section-menu .section-menu-sub {
    font-size: 0.8em;
    margin-left: 2em;
}

.section-menu .search-wrapper {
    margin-bottom: 1em;
}
