{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/news.html" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/search" }}
{{ end }}

{{ define "main" }}
    {{ partial "header" . }}

    <div class="main list">
        <ul class="articles animation-reveal-children">
            {{ range .Data.Pages }}
                {{ $author := index .Site.Data.staff (default "lstrasser" .Params.author) }}
                <li>
                    <article>
                        <div class="horizontal layout">
                            <div class="stretch article-categories">
                                {{ with .Params.categories }}
                                    {{ range . }}
                                        <div>{{ . }}</div>
                                    {{ end }}
                                    {{ else }}
                                    <div>Sonstiges</div>
                                {{ end }}
                            </div>
                            <div class="article-date">
                                {{ with .PublishDate }}
                                    {{ dateFormat "Monday, Jan 2, 2006" . }}
                                {{ end }}
                            </div>
                        </div>

                        <div class="horizontal layout">
                            <a href="{{ .RelPermalink }}" class="stretch">
                                <h2>{{ .Title }}</h2>
                            </a>
                            <div class="article-author center-aligning horizontal layout">
                                <img class="article-author-image" src="{{ $author.image }}" />
                                <div class="stretch">
                                    <div class="article-author-name">{{ $author.name }}</div>
                                    <div class="article-author-title">{{ $author.title }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="article-body horizontal start-aligning layout">
                            <div class="article-summary stretch collapse">
                                <div>{{ default .Summary (.Param "description") }}...</div>
                                <a href="{{ .RelPermalink }}" class="article-continue">
                                    Weiterlesen <i class="fas fa-arrow-right icon"></i>
                                </a>
                            </div>

                            {{ if .Params.cover }}
                                {{ $coverRes := .Resources.GetMatch .Params.cover }}
                                {{ with $coverRes }}
                                    <img class="article-cover stretch collapse" src="{{ $coverRes.Permalink }}" />
                                    {{ else }}
                                    <img class="article-cover stretch collapse" src="{{ .Params.cover }}" />
                                {{ end }}
                            {{ end }}
                        </div>
                    </article>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
