<section class="section-features left green" id="funktionen" data-animation="slide_1" data-animation_threshold="0.2">
    <div class="inner">
        <div class="content">
            <h2>Eine App, <strong>viele Funktionen</strong></h2>

            <ul class="section-features-grid">
                <li class="animate">
                    <a href="/funktionen/dienstplan" class="section-features-tile green bouncy">
                        <i class="sections-features-icon text-clip fal fa-table"></i>
                        <h4 class="text-clip">Dienstplan</h4>
                        <p>
                            Erstellen Sie Dienstpläne, die für Ihr Unternehmen wirtschaftlich wirksam sind, Ihre
                            Mitarbeiter glücklich machen und Ihnen jederzeit einen vollständigen Überblick bieten.
                        </p>
                    </a>
                </li>

                <li class="animate">
                    <a href="/funktionen/zeiterfassung" class="section-features-tile blue bouncy">
                        <i class="sections-features-icon text-clip fal fa-stopwatch"></i>
                        <h4 class="text-clip">Zeiterfassung</h4>
                        <p>
                            Überlassen Sie die Zeiterfassung Ihren Mitarbeiter und die Kontrolle der Software. Keine
                            „Zettelwirtschaft“, keine handschriftlichen Notizen, keine späteren Diskussionen.
                        </p>
                    </a>
                </li>

                <li class="animate">
                    <a href="/funktionen/personalverwaltung" class="section-features-tile purple bouncy">
                        <i class="sections-features-icon text-clip fal fa-users"></i>
                        <h4 class="text-clip">Personalverwaltung</h4>
                        <p>
                            Überlassen Sie die Zeiterfassung Ihren Mitarbeiter und die Kontrolle der Software. Keine
                            „Zettelwirtschaft“, keine handschriftlichen Notizen, keine späteren Diskussionen.
                        </p>
                    </a>
                </li>

                <li class="animate">
                    <a href="/funktionen/controlling" class="section-features-tile red bouncy">
                        <i class="sections-features-icon text-clip fal fa-chart-line"></i>
                        <h4 class="text-clip">Controlling</h4>
                        <p>
                            Überlassen Sie die Zeiterfassung Ihren Mitarbeiter und die Kontrolle der Software. Keine
                            „Zettelwirtschaft“, keine handschriftlichen Notizen, keine späteren Diskussionen.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{ partial "divider" }}
</section>
