<section class="section-offer blue" id="angebot">
    <div class="inner">
        <div class="content">
            <h2>Unser <strong>Kennenlern-Angebot</strong></h2>

            <p>
                Jedes neue Produkt muss <strong>nützlich</strong> und <strong>profitabel</strong> sein. Das muss auch
                unsere Software beweisen.
            </p>

            <p>
                Bevor Sie sich deshalb auf irgendetwas „einlassen“, sollen Sie sich deshalb zuerst von der Nützlichkeit
                von Pentacode überzeugen. Gegen eine geringe Schulungsgebühr erhalten Sie Pentacode…
            </p>

            <ul class="offer-terms">
                <li><i class="fal fa-calendar"></i> zwei volle Monate <strong>gebührenfrei</strong>.</li>

                <li>
                    <i class="fal fa-file-signature"></i> <strong>ohne</strong> jede
                    <strong>Vertragsbindung</strong>
                </li>

                <li><i class="fal fa-tasks"></i> mit <strong>allen Funktionen</strong></li>

                <li><i class="fal fa-lock-open-alt"></i> <strong>ohne</strong> Einschränkungen</li>

                <li><i class="fal fa-user-headset"></i> inklusive unserem <strong>vollem Support</strong></li>
            </ul>

            <p>Sie entscheiden erst, nachdem Sie uns und unsere Software auf Herz und Nieren geprüft haben.</p>

            <a class="highlight btn" href="https://calendly.com/pentacode/demo" onclick="openScheduler()">
                <i class="icon fas fa-user-headset"></i><span> Jetzt Termin Vereinbaren</span>
            </a>
        </div>
    </div>

    {{ partial "divider" }}
</section>
