<div class="section-features-anchor" id="preise"></div>

<section class="section-preise left purple" data-animation="slide_1" data-animation_threshold="0.2">
    <div class="inner">
        <div class="content">
            <div class="vertical center-aligning layout animate">
                <h2>Die <strong>passende Lösung</strong> für <strong>jeden Bedarf</strong>.</h2>
            </div>

            <ul class="section-preise-grid">
                <li class="animate">
                    <a
                        href="https://calendly.com/pentacode/demo"
                        onclick="openScheduler(); return false;"
                        class="section-preise-tile blue bouncy"
                    >
                        <h3>Standard</h3>
                        <div class="price-wrapper">
                            <div class="price">
                                <div class="price-from">Ab</div>
                                <div class="price-amount">3€</div>
                            </div>
                            <div class="price-unit">pro Mitarbeiter / Monat</div>
                        </div>
                        <ul class="features">
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dienstplanung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Urlaubsplanung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Arbeitszeit-, Urlaubs und SFN-Konto</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Vollständige Lohnvorbereitung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Schnittstellen zu allen gängigen Buchhaltungsprogrammen</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Management-Informationen in Echtzeit</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dokumentenarchiv</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Stellenausschreibungen & Bewerbungsmanagement</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Sofortmeldung</div>
                            </li>
                            <li class="highlight">
                                <i class="fal fa-check"></i>
                                <div>Digitale Stempeluhr (+1€)</div>
                            </li>
                            <li class="highlight">
                                <i class="fal fa-check"></i>
                                <div>Mitarbeiter-App (+1€)</div>
                            </li>
                        </ul>

                        <div class="call-to-action">Jetzt Termin Vereinbaren</div>
                    </a>
                </li>
                <li class="animate">
                    <a href="#" data-open-helpscout class="section-preise-tile red bouncy">
                        <h3>Enterprise</h3>
                        <div class="price-wrapper">
                            <div class="price">
                                <div class="price-upon-request">Preis auf Anfrage</div>
                            </div>
                            <div class="all-features-plus">Alle Standard-Features, plus:</div>
                        </div>
                        <ul class="features">
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Dedizierte Datenbank & Server</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>SLA mit 99,9% Up-Time Garantie</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Gehosted, On-Premise oder White-Label</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Admin-Portal</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Multi-Factor Authentifizierung</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Eigenes Branding und Design</div>
                            </li>
                            <li>
                                <i class="fal fa-check"></i>
                                <div>Maßgeschneiderte Features und Schnittstellen</div>
                            </li>
                        </ul>

                        <div class="call-to-action">Jetzt Kontakt Aufnehmen</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{ partial "divider" }}
</section>
