<!DOCTYPE html>
<html lang="de">
    <head>
        {{ partial "tracking" . }}

        <link rel="shortcut icon" href="/img/icon.png">

        <title>{{- partial "title" . | chomp -}}</title>

        {{ block "meta" . }}
        <meta name="og:title" content='{{- partial "title" . | chomp -}}'></meta>
        <meta name="description" content='{{- partial "description" . | chomp -}}'></meta>
        <meta name="og:description" content='{{- partial "description" . | chomp }}'></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {{ end }}

        {{ block "favicon" . }}
        <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>
        {{ end }}

        {{ define "basecss" }}
        {{ partial "styles/fonts.html" }}
        {{ partial "styles/icons.html" }}
        {{ partial "styles/vars.html" }}
        {{ partial "styles/base.html" }}
        {{ partial "styles/layout.html" }}
        {{ partial "styles/header.html" }}
        {{ partial "styles/animation.html" }}
        {{ end }}

        {{ block "css" . }}
            {{ template "basecss" }}
        {{ end }}

        {{ block "js" . }}
        {{ end }}

        <script src="/js/scheduling.js" async></script>
    </head>
    <body>
        {{ block "main" . }}
        {{ end }}

        {{ block "float" . }}
        {{ end }}

        {{ block "footer" . }}
            {{ partial "footer" . }}
        {{ end }}

        {{ partial "helpscout" }}
    </body>
</html>

