{% set main_title = title + ' | Pentacode' %} {% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/magazin.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->
{% include "styles/search.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %} {% include "components/header.njk" %}

<div class="main list">
    <ul class="categories-menu horizontal center-justifying layout">
        <li>
            <a href="/magazin" class="active">Alle Rubriken</a>
        </li>

        <li>
            <a href="/magazin/rubriken/das-erfolgreiche-unternehmen">Das erfolgreiche Unternehmen</a>
        </li>

        <li>
            <a href="/magazin/rubriken/das-gesunde-team">Das gesunde Team</a>
        </li>

        <li>
            <a href="/magazin/rubriken/der-zufriedene-kunde">Der zufriedene Kunde</a>
        </li>
    </ul>

    <ul class="articles-list">
        {% set pages = collections.all | eleventyNavigation(eleventyNavigation.key) | orderByDate | excludeDrafts %} {%
        for page in pages %} {% set author = staff[page.author or "lstrasser"] %}
        <li>
            <article>
                <div class="cover-image">
                    <a href="{{ page.url }}" title="{{ page.title }}">
                        {% if page.cover %}
                        <img
                            class="article-cover stretch collapse"
                            src="{{ page.cover }}"
                            alt="{{ page.coverAlt or page.title }}"
                        />
                        {% endif %}
                    </a>
                </div>

                <div class="article-categories">
                    {% for category in page.magazinCategories %}
                    <div>{{ category }}</div>
                    {% else %}
                    <div>Sonstiges</div>
                    {% endfor %}
                </div>

                <a href="{{ page.url }}" class="stretch">
                    <h2>{{ page.title | markdownify | safe }}</h2>
                </a>

                <div class="article-summary">
                    {{ page.excerpt | plainify | safe }}...
                    <a href="{{ page.url }}" class="article-continue">
                        weiterlesen <i class="fas fa-arrow-right icon"></i>
                    </a>
                </div>

                <div class="horizontal center-aligning layout">
                    <div class="article-author center-aligning horizontal layout stretch">
                        <img class="article-author-image" src="{{ author.image }}" alt="Author: {{ author.name }}" />
                        <div class="article-author-name stretch">{{ author.name }}</div>
                    </div>

                    <div class="article-date">
                        {{ page.publishDate | formatDate }}
                    </div>
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
