{% set main_title = title + ' | Magazin | Pentacode' %} {% extends "../base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/magazin.html" %}<!-- -->
{% include "styles/section-menu.html" %}<!-- -->
{% include "styles/search.html" %}<!-- -->

{% endblock %}<!-- -->

{% block body %} {% include "components/header.njk" %} {% set author = staff[author or "lstrasser"] %}

<div class="main single">
    <article class="main-article">
        <div class="horizontal layout meta-data">
            <div class="stretch article-categories">
                {% for category in magazinCategories %}
                <div>{{ category }}</div>
                {% else %}
                <div>Sonstiges</div>
                {% endfor %}
            </div>
            <div class="article-date">
                {{ (publishDate or date) | formatDate }}
            </div>
        </div>

        <div class="horizontal layout heading">
            <h1 class="stretch">{{ title | markdownify | safe }}</h1>
            <div class="article-author center-aligning horizontal layout">
                <img class="article-author-image" src="{{ author.image }}" alt="Author: {{ author.name }}" />
                <div class="stretch">
                    <div class="article-author-name">{{ author.name }}</div>
                    <div class="article-author-title">{{ author.title }}</div>
                </div>
            </div>
        </div>

        {% if cover %}
        <div class="article-cover-wrapper">
            <img class="article-cover" src="{{ cover }}" alt="{{ coverAlt or title }}" />
        </div>
        {% endif %}

        <div class="article-content">
            {{ content | markdownify | safe }}
        </div>
    </article>

    <div class="related-articles">
        <h2>Das könnte Dich auch interessieren:</h2>

        <ul class="articles-list">
            {% set relatedPosts = collections.all | eleventyNavigation("/magazin") |
            getRelatedByMagazinCategories(magazinCategories, eleventyNavigation.key) %} {% for post in relatedPosts %}
            {% set postAuthor = staff[post.author or "lstrasser"] %}
            <li>
                <article>
                    <div class="cover-image">
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            {% if post.cover %}
                            <img
                                class="article-cover stretch collapse"
                                src="{{ post.cover }}"
                                alt="{{ post.cover_alt }}"
                            />
                            {% endif %}
                        </a>
                    </div>

                    <div class="article-categories">
                        {% for category in post.magazinCategories %}
                        <div>{{ category }}</div>
                        {% else %}
                        <div>Sonstiges</div>
                        {% endfor %}
                    </div>

                    <a href="{{ post.url }}" class="stretch">
                        <h2>{{ post.title | markdownify | safe }}</h2>
                    </a>

                    <div class="article-summary">
                        {{ post.excerpt | plainify | safe }}...
                        <a href="{{ post.url }}" class="article-continue">
                            weiterlesen <i class="fas fa-arrow-right icon"></i>
                        </a>
                    </div>

                    <div class="horizontal center-aligning layout">
                        <div class="article-author center-aligning horizontal layout stretch">
                            <img
                                class="article-author-image"
                                src="{{ postAuthor.image }}"
                                alt="Author: {{ postAuthor.name }}"
                            />
                            <div class="article-author-name stretch">{{ postAuthor.name }}</div>
                        </div>

                        <div class="article-date">
                            {{ post.publishDate | formatDate }}
                        </div>
                    </div>
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
