<section class="centering horizontal layout">
    <div style="max-width: 25em">
        <h2 class="section-header">
            <div>Share data with your</div>
            <div class="big vertical-carousel">
                <div class="orange outline"><i class="family"></i> family.</div>
                <div class="purple outline"><i class="user-tie-hair"></i> coworkers.</div>
                <div class="green outline"><i class="handshake-angle"></i> clients.</div>
                <div class="blue outline"><i class="chalkboard-user"></i> students.</div>
                <div class="violet outline"><i class="people-group"></i> friends.</div>
            </div>
        </h2>
        <p>
            Want to <strong>share</strong> your passwords and documents with your <strong>family</strong>,
            <strong>friends</strong> or <strong>collegues</strong>? No problem! Padloc makes it easy to share and manage
            your sensitive data within your family, business or any other kind of organization.
        </p>
        <p>
            <a href="#plans">Start sharing your data securely <i class="arrow-right"></i></a>
        </p>
    </div>
    <div class="sharing-illustration">
        <div class="sharing-illustration-inner">
            <img src="/assets/img/app-icon.svg" class="logo" alt="Padloc icon" />
            <i class="family"></i>
            <i class="user-tie-hair"></i>
            <i class="handshake-angle"></i>
            <i class="people-group"></i>
            <i class="chalkboard-user"></i>
        </div>
    </div>
</section>
