{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/magazin.html" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/page-menu" }}
    {{ partial "styles/search" }}
{{ end }}

{{ define "main" }}
    {{ $author := index .Site.Data.staff (default "lstrasser" .Params.author) }}

    {{ partial "header" . }}

    <div class="main single">
        <article class="animation-reveal-children main-article">
            <div class="horizontal layout meta-data">
                <div class="stretch article-categories">
                    {{ with .Param "magazin/rubriken" }}
                        {{ range . }}
                            <div>{{ . }}</div>
                        {{ end }}
                        {{ else }}
                        <div>Sonstiges</div>
                    {{ end }}
                </div>
                <div class="article-date">
                    {{ with .PublishDate }}
                        {{ dateFormat "Monday, Jan 2, 2006" . }}
                    {{ end }}
                </div>
            </div>

            <div class="horizontal layout heading">
                <h1 class="stretch">{{ .Title }}</h1>
                <div class="article-author center-aligning horizontal layout">
                    <img class="article-author-image" src="{{ $author.image }}" />
                    <div class="stretch">
                        <div class="article-author-name">{{ $author.name }}</div>
                        <div class="article-author-title">{{ $author.title }}</div>
                    </div>
                </div>
            </div>

            {{ with .Params.cover }}
                <div class="article-cover-wrapper">
                    <img class="article-cover" src="{{ . }}" />
                </div>
            {{ end }}

            <div class="article-content">
                {{ .Content }}
            </div>
        </article>

        <div class="related-articles">
            <h2>Das könnte Dich auch interessieren:</h2>

            <ul class="articles-list">
                {{ $related := .Site.RegularPages.RelatedIndices . "magazin/rubriken" }}
                {{ range where $related "Params.unlisted" "!=" "true" | first 3 }}
                    {{ $author := index .Site.Data.staff (default "lstrasser" .Params.author) }}
                    <li>
                        <article>
                            <div class="cover-image">
                                <a href="{{ .RelPermalink }}">
                                    {{ if .Params.cover }}
                                        {{ $coverRes := .Resources.GetMatch .Params.cover }}
                                        {{ with $coverRes }}
                                            <img
                                                class="article-cover stretch collapse"
                                                src="{{ $coverRes.Permalink }}"
                                            />
                                            {{ else }}
                                            <img class="article-cover stretch collapse" src="{{ .Params.cover }}" />
                                        {{ end }}
                                    {{ end }}
                                </a>
                            </div>

                            <div class="article-categories">
                                {{ with .Param "magazin/rubriken" }}
                                    {{ range . }}
                                        <div>{{ . }}</div>
                                    {{ end }}
                                    {{ else }}
                                    <div>Sonstiges</div>
                                {{ end }}
                            </div>

                            <a href="{{ .RelPermalink }}" class="stretch">
                                <h2>{{ .Title }}</h2>
                            </a>

                            <div class="article-summary">
                                {{ default .Summary (.Param "description") }}...
                                <a href="{{ .RelPermalink }}" class="article-continue">
                                    weiterlesen <i class="fas fa-arrow-right icon"></i>
                                </a>
                            </div>

                            <div class="horizontal center-aligning layout">
                                <div class="article-author center-aligning horizontal layout stretch">
                                    <img class="article-author-image" src="{{ $author.image }}" />
                                    <div class="article-author-name stretch">{{ $author.name }}</div>
                                </div>

                                <div class="article-date">
                                    {{ with .PublishDate }}
                                        {{ dateFormat "Jan 2, 2006" . }}
                                    {{ end }}
                                </div>
                            </div>
                        </article>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}
