<footer>
    <nav>
        <ul>
            <li class="section-item">
                <a href="/magazin/"> Magazin </a>
            </li>

            <li class="section-item">
                <a href="/news/"> News </a>
            </li>

            <li class="section-item">
                <a href="/funktionen/"> Funktionen </a>
            </li>

            <li class="section-item">
                <a href="/hilfe/"> Hilfe </a>
            </li>

            <li class="section-item">
                <a href="#" data-open-helpscout> Kontakt </a>
            </li>

            <li class="section-item">
                <a href="/impressum/"> Impressum </a>
            </li>

            <li class="section-item">
                <a href="/datenschutz/"> Datenschutz </a>
            </li>

            <li class="section-item">
                <a href="https://www.linkedin.com/company/pentacode-app" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            </li>

            <li class="section-item">
                <a href="https://www.instagram.com/pentacode.app/" title="Instagram"><i class="fab fa-instagram"></i></a>
            </li>

            <li class="section-item">
                <a href="https://www.facebook.com/pentacodeapp" title="Facebook"><i class="fab fa-facebook"></i></a>
            </li>
        </ul>
    </nav>
    <div class="copyright">&copy; 2022 Sandstrøm Brand Management AG, Lindwurmstr. 147, 80337 München</div>
</footer>
