<div id="header_anchor"></div>
<header class="blue">
    <div class="header-inner horizonal center-aligning layout">
        <nav class="sections" role="navigation">
            <ul class="horizontal center-aligning layout">
                <li>
                    <a href="https://pentacode.app"><img class="logo" src="/assets/img/logo.svg" alt="Pentacode Logo" /></a>
                </li>

                
            </ul>
        </nav>
    </div>
</header>

<script>
    (() => {
        const header = document.querySelector("header");
        const headerAnchor = document.querySelector("#header_anchor");
        const menuButton = document.querySelector(".menu-button");
        const menu = document.querySelector(".menu-inner");

        new IntersectionObserver(([entry]) => header.classList.toggle("floating", !entry.isIntersecting), {
            threshold: 0.5,
        }).observe(headerAnchor);

        menuButton.addEventListener("click", (e) => {
            e.stopPropagation();
            menu.removeAttribute("hidden");
        });

        document.addEventListener("click", () => {
            menu.setAttribute("hidden", "");
        });
    })();
</script>
