<div class="hero-illustration">
    <div class="hero-illustration-tile">
        <i class="fal fa-stopwatch hero-illustration-icon"></i>
        <div class="text-clip">Zeiterfassung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-cash-register hero-illustration-icon"></i>
        <div class="text-clip">Kassenbuch</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-umbrella-beach hero-illustration-icon"></i>
        <div class="text-clip">Urlaubsplanung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-hourglass-half hero-illustration-icon"></i>
        <div class="text-clip">Arbeitszeit-dokumentation</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-abacus hero-illustration-icon"></i>
        <div class="text-clip">Lohnvorbereitung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-poll-people hero-illustration-icon"></i>
        <div class="text-clip">Dienstplan</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-analytics hero-illustration-icon"></i>
        <div class="text-clip">Controlling</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-users hero-illustration-icon"></i>
        <div class="text-clip">Personal-management</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-euro-sign hero-illustration-icon"></i>
        <div class="text-clip">Umsatzplanung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-exclamation-triangle hero-illustration-icon"></i>
        <div class="text-clip">Problem-überwachung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-balance-scale-right hero-illustration-icon"></i>
        <div class="text-clip">Arbeitszeitkonto</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-chart-pie hero-illustration-icon"></i>
        <div class="text-clip">Kostenanalyse</div>
    </div>
</div>
