{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/single.html" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/page-menu" }}
    {{ partial "styles/search" }}
{{ end }}

{{ define "main" }}
    {{ partial "header" . }}

    <div class="main-layout">
        <div>
            <article class="animation-reveal-children animation-fast">
                <div class="narrow">
                    {{ partial "breadcrumbs" . }}
                </div>

                <div>
                    <div class="cover">
                        {{ partial "thumbnail" . }}
                    </div>

                    <h1><span>{{ .Title }}</span></h1>
                </div>

                {{ with .PublishDate }}
                    <p class="subtle">{{ dateFormat "Monday, Jan 2, 2006" . }}</p>
                {{ end }}

                <div>
                    {{ .Content }}
                </div>
            </article>
        </div>
    </div>
{{ end }}
