<div class="breadcrumbs">
    <nav>
        <ul class="center-aligning horizontal wrapping layout">
            {{ template "breadcrumbpath" .Parent }}
        </ul>
    </nav>
</div>

{{ define "breadcrumbpath" }}
    {{ with .Parent }}
        {{ if not .IsHome }}
            {{ template "breadcrumbpath" . }}
        {{ end }}
    {{ end }}

    <li>
        <a href="{{ .Permalink }}"
            >{{ with .Params.icon }}<i class="fal fa-{{ . }}"></i> {{ end }}{{ .Title }}</a
        ><span class="subtle">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
    </li>
{{ end }}
