<div class="features">
    <div class="feature purple">
        <i class="fad fa-stopwatch"></i>
        <div>
            Zeiterfassung
        </div>
    </div>

    <div class="feature violet">
        <i class="fad fa-cash-register"></i>
        <div>
            Kassenbuch
        </div>
    </div>

    <div class="feature blue">
        <i class="fad fa-abacus"></i>
        <div>
            Lohnvorbereitung
        </div>
    </div>

    <div class="feature aqua">
        <i class="fad fa-poll-people"></i>
        <div>
            Dienstplan
        </div>
    </div>

    <div class="feature teal">
        <i class="fad fa-analytics"></i>
        <div>
            Controlling
        </div>
    </div>

    <div class="feature green">
        <i class="fad fa-users"></i>
        <div>
            Personal-management
        </div>
    </div>

    <div class="feature yellow">
        <i class="fad fa-euro-sign"></i>
        <div>
            Umsatzplanung
        </div>
    </div>

    <div class="feature orange">
        <i class="fad fa-exclamation-triangle"></i>
        <div>
            Problem-überwachung
        </div>
    </div>

    <div class="feature red">
        <i class="fad fa-balance-scale-right"></i>
        <div>
            Arbeitszeitkonto
        </div>
    </div>

    <div class="feature yellow">
        <i class="fad fa-chart-pie"></i>
        <div>
            Kostenanalyse
        </div>
    </div>
</div>
