<header class="blue">
    <div class="header-inner horizonal center-aligning layout">
        <nav class="sections">
            <ul class="horizontal center-aligning layout">
                <li>
                    <a href="/"><img class="logo" src="/img/logo.svg" /></a>
                </li>

                {{ $currPage := . }} {{ range .Site.Sections }}
                {{ if not (eq .Title "Alt") }}
                <li class="section-item {{ if eq .Section $currPage.Section }}active{{ end }}">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </nav>

        <div class="stretch"></div>

        <nav class="login-signup">
            <ul class="horizontal center-aligning layout">
                <li hidden>
                    <a href='{{ .Param "login_url" }}' class="">Login</a>
                </li>
                <li>
                    <a href="https://calendly.com/pentacode/demo" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/pentacode/demo'});return false;" class="btn get-started text-clip">
                        <i class="fas fa-user-headset"></i>
                        <span>Termin Vereinbaren</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="menu">
            <button class="btn menu-button">
                <i class="fas fa-bars"></i>
            </button>

            <div class="menu-inner" hidden>
                <nav class="menu-login-signup">
                    <ul>
                        <li>
                            <a href='{{ .Param "get_started_url" }}' class="btn text-clip">
                                <i class="fas fa-user-headset"></i>
                                <span>Termin Vereinbaren</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <nav class="menu-sections">
                    <ul>
                        {{ $currPage := . }} {{ range .Site.Sections }}
                        {{ if not (eq .Title "Alt") }}
                        <li>
                            <a href="{{ .RelPermalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<script>
    (() => {
        const menuButton = document.querySelector(".menu-button");
        const menu = document.querySelector(".menu-inner");

        menuButton.addEventListener("click", e => {
            e.stopPropagation();
            menu.removeAttribute("hidden");
        });

        document.addEventListener("click", () => {
            menu.setAttribute("hidden", "");
        });
    })();
</script>
