<div class="hero-illustration">
    <div class="hero-illustration-tile">
        <i class="fal fa-stopwatch"></i>
        <div>Zeiterfassung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-cash-register"></i>
        <div>Kassenbuch</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-abacus"></i>
        <div>Lohnvorbereitung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-poll-people"></i>
        <div>Dienstplan</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-analytics"></i>
        <div>Controlling</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-users"></i>
        <div>Personal-management</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-euro-sign"></i>
        <div>Umsatzplanung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-exclamation-triangle"></i>
        <div>Problem-überwachung</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-balance-scale-right"></i>
        <div>Arbeitszeitkonto</div>
    </div>

    <div class="hero-illustration-tile">
        <i class="fal fa-chart-pie"></i>
        <div>Kostenanalyse</div>
    </div>
</div>
