<div class="search-wrapper">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>

    <input type="search" placeholder="Artikel Durchsuchen..." />

    <div class="search-results" hidden></div>

    <script>
        (() => {
            const searchWrapper = document.currentScript.parentElement;
            const input = searchWrapper.querySelector("input");
            const resultsContainer = searchWrapper.querySelector(".search-results");
            // const resultsList = searchWrapper.querySelector(".search-results ul");
            // const resultsElements = [...searchWrapper.querySelectorAll("li")];

            function loadIndex() {
                let req = new XMLHttpRequest();

                return new Promise((resolve, reject) => {
                    req.onreadystatechange = () => {
                        if (req.readyState === 4) {
                            if (!req.status) {
                                reject();
                            } else {
                                resolve(JSON.parse(req.responseText));
                            }
                        }
                    };

                    try {
                        req.open("get", "/hilfe/index.json", true);
                        req.send();
                    } catch (e) {
                        reject();
                    }
                });
            }

            function renderResultItem({ matches, item: { icon, title, subtitle, url } }) {
                const snippets = [];
                for (let { key, value, indices } of matches) {
                    console.log(key, value, indices);
                    if (key !== "match.content") {
                        continue;
                    }
                    for (const [start, end] of indices) {
                        value = `${value.slice(0, start)}<mark>${value.slice(start, end)}</mark>${value.slice(end)}`;
                        snippets.push(value);
                    }
                }
                return `
                    <li>
                        <a href="${url}">
                            <div class="search-result-section">
                                <i class="fal fa-${icon}"></i>
                                ${title}
                            </div>
                            <div class="search-result-title">
                                ${subtitle}
                            </div>
                            <div>
                                ... ${snippets.join("...")} ...
                            </div>
                        </a>
                    </li>
                `;
            }

            function displaySearchResults(results) {
                results = results.sort((a, b) => a.score - b.score);

                resultsContainer.innerHTML = `
                    <ul>
                        ${results.map(renderResultItem).join("\n")}
                    </ul>
                `;
            }

            function setupSearch(index) {
                const items = [];

                for ({ title, content, icon, relUrl: url } of index.pages) {
                    items.push({ icon, title, content: content.replace(/(<([^>]+)>)/gi, "") });
                    const matches = [
                        ...content.matchAll(/<h2(?:[^>]*)?id="([^"]+)">([\w\W]*?)<\/h2>([\w\W]*?)(?=(<h2)|\z)/g),
                    ];
                    for (const [, id, subtitle, subcontent] of matches) {
                        items.push({
                            icon,
                            title,
                            subtitle,
                            content: subcontent,
                            url: `${url}#${id}`,
                            parentTitle: title,
                            match: {
                                title: subtitle,
                                content: subcontent,
                            },
                        });
                    }
                }

                const fuse = new Fuse(items, {
                    keys: ["match.title", "match.content"],
                    includeScore: true,
                    includeMatches: true,
                    threshold: 0.2,
                    minMatchCharLength: 4,
                });

                input.addEventListener("input", () => {
                    const val = input.value;
                    if (val) {
                        const results = fuse.search(val);
                        console.log(results);
                        displaySearchResults(results);
                        resultsContainer.removeAttribute("hidden");
                    } else {
                        resultsContainer.setAttribute("hidden", "");
                    }
                });
            }

            loadIndex().then((index) => setupSearch(index));
        })();
    </script>
</div>
