<section
    class="feature section-slides {{ .alignment }}"
    style="--color-highlight: var(--{{ .color_1 }}); --color-highlight-bg: var(--{{ .color_2 }});"
>
    <div class="inner">
        <div class="content">
            <h2>{{ .title | markdownify }}</h2>

            {{ with .subtitle }}
                <h3>
                    {{ . | markdownify }}
                </h3>
            {{ end }}

            <div>
                {{ .text | markdownify }}
            </div>

            <div class="feature-buttons">
                {{ range $i, $slide := .slides }}
                    <div class="feature-button-outer">
                        <a class="feature-button" data-slide="{{ $i }}">
                            <div class="feature-button-inner">
                                <div class="title">
                                    {{ with $slide.icon }}<i class="fal fa-{{ . }}"></i>{{ end }}
                                    {{ $slide.title | markdownify }}
                                </div>
                                <div>
                                    {{ $slide.text | markdownify }}
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
            </div>
        </div>

        <div class="images">
            <div class="images-inner">
                <div class="slides">
                    <div class="slides-inner">
                        <div style="width: 100%"></div>
                        {{ range $i, $slide := .slides }}
                            <div class="slides-slide" data-slide="{{ $i }}">
                                <img src="{{ $slide.image }}" style="padding: {{ $slide.padding }}px" />
                            </div>
                        {{ end }}
                        <div style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<script>
    (() => {
        const section = document.currentScript.previousElementSibling;
        const buttons = section.querySelectorAll(".feature-button");
        const slidesContainer = section.querySelector(".slides");
        const slides = [...section.querySelectorAll(".slides-slide")];
        const images = section.querySelectorAll(".slides img");
        const { width: containerWidth } = slidesContainer.getBoundingClientRect();

        const scroll = () => {
            for (const [i, img] of images.entries()) {
                const button = buttons[i];
                const width = img.offsetWidth;
                const left = img.offsetLeft;
                const offset = slidesContainer.scrollLeft - left + (containerWidth - width) / 2;
                const scale = 1.2 - Math.abs(offset) / 1500;
                console.log(left, slidesContainer.scrollLeft, offset);

                img.style.transform = `scale(${scale})`;
                const active = Math.abs(offset) < 100;
                img.style["z-index"] = active ? "1" : "0";
                button.classList.toggle("active", active);
            }
        };

        function selectSlide(i) {
            const slide = slides[i];
            console.log("select slide", i, slide);
            slidesContainer.scrollLeft = slide.offsetLeft - (containerWidth - slide.offsetWidth) / 2;
            // buttons.forEach((button, j) => button.classList.toggle("active", i === j))
        }

        slidesContainer.addEventListener("scroll", scroll);
        scroll();

        for (const [i, button] of buttons.entries()) {
            button.addEventListener("click", () => selectSlide(i));
        }
        selectSlide(0);
    })();
</script>
