{{ define "css" }} {{ template "basecss" }}
<link href="/css/home.css" rel="stylesheet" type="text/css" />
{{ end }} {{ define "js" }}
<script src="js/anime.min.js"></script>
<script src="js/home.js"></script>
{{ end }} {{ define "main" }} {{ partial "header" . }}

<section class="hero blue" data-section="hero">
    <div class="inner">
        <div class="content animation-reveal-children">
            <h1><strong>Digitales Management</strong><br />für Ihr Unternehmen</h1>

            <h2>
                Von der <strong>Dienstplanung</strong> und <strong>Zeiterfassung</strong> bis hin zu
                <strong>Lohnvorbereitung</strong>, <strong>Kostenanalyse</strong> und <strong>Controlling</strong>.
            </h2>

            <h3>
                Pentacode ist die vielseitige Software, die als Ihr stiller Partner die Arbeit für Sie erledigt - damit
                Sie die Freiheit haben, sich auf das Wesentliche zu konzentrieren.
            </h3>

            <div class="buttons">
                <a href='{{ .Param "get_started_url" }}' class="btn highlight get-started">
                    <span>Jetzt Kennenlernen</span>
                    <span class="icon fas fa-play-circle"></span>
                </a>
            </div>
        </div>

        <div class="slides">
            <div class="features-outer">
                {{ partial "features" }} {{ partial "features" }}
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="simple right green" data-section="simple">
    <div class="inner">
        <div class="content">
            <h1>Einfach Nur <strong>Einfach</strong></h1>

            <h3>
                Zahlen, Daten und Zeiten werden noch immer mehrfach „in die Hand“ genommen und bearbeitet?
            </h3>

            <p>
                In Pentacode entfallen die manuellen Arbeiten für die Verwaltung Ihres Unternehmens fast vollständig.
                Was vorher lästig und manchmal kompliziert war, erledigen Sie nun in kürzester Zeit und beinahe
                spielerisch.
            </p>

            <p>
                Zeiterfassung, Dokumentation, Lohnvorbereitung, Kassenbuchführung, Debitorenlisten –
                <strong>alles entsteht in automatisierten Prozessen</strong>.
            </p>

            <div class="feature-buttons">
                <a class="btn">
                    <div>
                        Durch unser intutives <strong>Drag & Drop Interface</strong> entsteht der
                        <strong class="nobreak"><i class="fad fa-table"></i> Dienstplan</strong>
                        einfach und beinahe spielerisch.
                    </div>
                </a>
                <a class="btn">
                    <div>
                        Die <strong class="nobreak"><i class="fad fa-stopwatch"></i> Digitale Stempeluhr</strong>
                        läuft direkt über den Browser und ist <strong>innerhalb von Sekunden</strong> eingerichtet.
                    </div>
                </a>
            </div>
        </div>

        <div class="slides">
            <div class="slides-inner">
                <div class="slide back">
                    <img src="/img/home/roster.png" class="animate"/>
                </div>
                <div class="slide front">
                    <img src="/img/home/time-tracker.png" class="animate" />
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="secure left red" data-section="secure">
    <div class="inner">
        <div class="content">
            <h1>Sicher <strong>Fehlerfrei</strong></h1>

            <h3>
                Prüfer kennen im Normalfall die Gesetzeslage besser als Sie, erkennen die Lücken in einer Dokumentation
                und setzen genau an diesen ihren Hebel an. Viele gehen daher besorgt in eine Buchprüfung – und das oft
                zurecht.
            </h3>

            <p>
                Pentacode erledigt Ihre gesamte Dokumentation nicht nur vollständig, sondern völlig
                <strong>selbständig und prüfungssicher</strong>. Ihre Unterlagen sind aktuell und fortlaufend geführt
                und dabei widerspruchs- und fehlerfrei.
            </p>

            <div class="feature-buttons">
                <a class="btn">
                    <div>
                        Detaillierte <strong class="nobreak"><i class="fad fa-exclamation-triangle"></i> Problemberichte</strong>
                        warnen Sie laufend vor möglichen Verstößen und erlauben Ihnen frühzeitig einzugreifen.
                    </div>
                </a>
                <a class="btn">
                    <div>
                        Durch automatische Führung von <strong class="nobreak"><i class="fad fa-balance-scale-right"></i> Mitarbeiterkonten</strong>
                        haben Sie Überstunden, Urlaubsansprüche und SFN-Pauschalen stehts im Griff.
                    </div>
                </a>
            </div>
        </div>

        <div class="slides">
            <div class="slides-inner">
                <div class="issues">
                    <img src="/img/home/issues/issue_1.png" class="animate" />
                    <img src="/img/home/issues/issue_2.png" class="animate" />
                    <img src="/img/home/issues/issue_3.png" class="animate" />
                    <img src="/img/home/issues/issue_4.png" class="animate" />
                    <img src="/img/home/issues/issue_5.png" class="animate" />
                    <img src="/img/home/issues/issue_6.png" class="animate" />
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="controlling right purple" data-section="controlling">
    <div class="inner">
        <div class="content">
            <h1>Immer <strong>Informiert</strong></h1>

            <h3>
                Sie wissen erst am Ende des Monats, wie hoch Ihre Personalkosten sind? Möchten Sie bereits am Ende des
                Tages wissen, wie rentabel Ihr Einsatz war?
            </h3>

            <p>
                In Pentacode geben Ihnen <strong>Echtzeitdaten</strong> sofortige Auskunft. Damit erhalten Sie die
                Möglichkeit, zu jedem Zeitpunkt korrigierend einzugreifen.
            </p>

            <p>
                In <strong>selbsterklärenden, leicht verständlichen und aussagekräftigen Grafiken</strong> werden Plan-
                und Ist-Daten verglichen und Zeiträume einander gegenübergestellt. Sie erkennen negative Trends, bevor
                diese eine Wirkung entfalten können und positive Entwicklungen, die Sie noch verstärken können.
            </p>

            <p>
                <strong>Mit Pentacode behalten Sie die Kontrolle über Ihr Unternehmen.</strong> Hierzu benötigen Sie
                weder den Rat von Experten noch das Wissen akademischer Fachleute. Diese Spezialisten wirken bei der
                Entwicklung der Software mit.
            </p>
        </div>

        <div class="slides">
            <div class="slides-inner">
                <div class="reports">
                    <img src="/img/home/reports/reports_1.png" class="animate" />
                    <img src="/img/home/reports/reports_2.png" class="animate" />
                    <img src="/img/home/reports/reports_3.png" class="animate" />
                    <img src="/img/home/reports/reports_4.png" class="animate" />
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="independent left aqua" data-section="independent">
    <div class="inner">
        <div class="content">
            <h1><strong>Unabhängig</strong> Handeln</h1>

            <h3>
                Brauchen Sie oft die Zuarbeit von Mitarbeitern? Warten Sie manchmal auf Informationen von Anderen?
            </h3>

            <p>
                Pentacode liefert Ihnen <strong>unmittelbar</strong>, was Sie als Unternehmer wissen wollen. Sie haben
                die <strong>Freiheit</strong>, jederzeit und unabhängig handeln zu können.
            </p>

            <p>
                Mit Ihrer <strong>Unabhängigkeit</strong> senken Sie auch ganz nebenbei den Aufwand anderer. So dauert
                zum Beispiel eine Lohnabrechnung für Ihr Unternehmen nur etwa 10 Sekunden - dabei ist es völlig egal ob
                Sie 10, 100 oder 1000 Mitarbeiter verwalten.
            </p>
        </div>

        <div class="slides">
            <div class="slides-inner">
                <div class="roster-metrics">
                    <img src="/img/home/independent/roster.png" class="animate" />
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="right innovative orange" data-section="innovative">
    <div class="inner">
        <div class="content">
            <h1>Benutzerfreundlich & Portabel</h1>

            <h3>
                Pentacode ist eine Web-basierte Anwendung, die offline-fähig und Hardware-unabhängig ist. So können Sie
                direkt durchstarten, ohne in teuere Geräte zu investieren!
            </h3>

            <p>
                Und selbstverständlich haben Sie Zugang zu Ihren Unternehmenszahlen, egal wo Sie sind, wann immer Sie
                wollen. Das Einzige, was Sie brauchen, ist ein Internet-fähiges Endgerät.
            </p>

            <p>
                Unser Grundsatz bei der Produktentwicklung lautet: maximale Anwenderfreundlichkeit bei maximalem Nutzen
                für den Unternehmer. Das Resultat ist ein Produkt, dass in Sachen Leistungsfähigkeit,
                Bedienerfreundlichkeit und Performance seinesgleichen sucht.
            </p>
        </div>

        <div class="slides">
            <div class="slides-inner">
                <div class="slide desktop">
                    <img src="/img/home/innovative/desktop.png" class="animate"/>
                </div>
            </div>

            <div class="slides-inner">
                <div class="slide tablet">
                    <img src="/img/home/innovative/tablet.png" class="animate"/>
                </div>
            </div>

            <div class="slides-inner">
                <div class="slide phone">
                    <img src="/img/home/innovative/phone.png" class="animate"/>
                </div>
            </div>
        </div>
    </div>

    {{ partial "wave" }}
</section>

<section class="offer blue" id="angebot">
    <div class="inner">
        <div class="content">
            <h1>Unser Kennenlern-Angebot</h1>

            <h3>
                Wir wissen, dass es wichtig ist, jedes Engagement auf seine <strong>Nützlichkeit</strong> und
                <strong>Profitabilität</strong> hin zu überprüfen. Wir machen das selbst nicht anders.
            </h3>

            <p>
                Diesen Test auf Nützlichkeit muss auch Pentacode bestehen können. Ist dies nicht der Fall, ist die
                Software auch nicht für Ihr Unternehmen geeignet.
            </p>

            <p>
                Gegen eine geringe Schulungsgebühr erhalten Sie Pentacode über einen Zeitraum von
                <strong>zwei Monaten gebührenfrei</strong> und <strong>ohne jede Vertragsbindung</strong>. Wir möchten,
                dass Sie Pentacode auf Herz und Nieren prüfen können und dabei auch uns und unseren Support
                kennenlernen.
            </p>

            <p>
                Ihr Test findet im Fall von Pentacode nicht anhand eines Fake-Accounts statt, sondern in der
                <strong>echten Produktivumgebung</strong>. Sie erhalten die Software mit
                <strong>allen Funktionen</strong>, ohne Einschränkungen und unserem gesamten <strong>Support</strong>.
                Dabei gehen Sie <strong>keinerlei Verpflichtung</strong> ein.
            </p>

            <button class="highlight btn get-started">
                <i class="icon fas fa-user-headset"></i><span>Jetzt Termin Vereinbaren</span>
            </button>
        </div>
    </div>

    {{ partial "wave" }}
</section>

{{ end }}
