{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/list.html" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/search" }}
{{ end }}

{{ define "main" }}
    {{ partial "header" . }}

    <div class="main-layout">
        <aside>
            {{ if not (eq .Parent.Kind "home") }}
                <div class="side-menu">
                    {{ partial "section-menu" . }}
                </div>
            {{ end }}
        </aside>

        <div class="main animation-reveal-children">
            <div class="content">
                <div>
                    <i class="icon fal fa-{{ (default "scroll" (default .Parent.Params.icon .Params.icon)) }}"></i>

                    <h1>
                        <span>{{ .Title }}</span>
                    </h1>
                </div>

                {{ .Content }}
            </div>

            {{ if eq .Parent.Kind "home" }}
                {{ partial "section-menu" . }}
            {{ end }}

            <ul class="articles animation-reveal-children">
                {{ range .Data.Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">
                            <article>
                                <div>
                                    <i
                                        class="icon fal fa-{{ (default "scroll" (default .Parent.Params.icon .Params.icon)) }}"
                                    ></i>

                                    <h2 class="title"><span>{{ .Title }}</span></h2>
                                </div>

                                <div class="text">
                                    {{ default (.Summary | truncate 200) (.Param "description") }}...
                                </div>
                            </article>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}
