{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/single.html" }}
    {{ partial "styles/side-menu" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/hilfe" }}
{{ end }}

{{ define "main" }}
    {{ partial "header" . }}

    <div class="main-layout">
        <aside>
            {{ if not .Params.hide_menu }}
                <div class="side-menu">
                    {{ partial "section-menu" . }}
                </div>
            {{ end }}
        </aside>

        <div>
            <article class="animation-reveal-children animation-fast">
                <div class="narrow">
                    {{ partial "breadcrumbs" . }}
                </div>

                <i class="cover-icon fal fa-{{ (default "scroll" (default .Parent.Params.icon .Params.icon)) }}"></i>

                <h1>{{ .Title }}</h1>

                <div>
                    {{ .Content }}
                </div>
            </article>
        </div>
    </div>
{{ end }}
