<section class="centering reverse horizontal layout">
    <div style="max-width: 25em; position: relative; z-index: 1">
        <h2 class="section-header">
            <div>Use Padloc with your</div>
            <div class="big vertical-carousel">
                <div class="orange outline"><i class="laptop"></i> desktop.</div>
                <div class="purple outline"><i class="mobile-button"></i> phone.</div>
                <div class="green outline"><i class="tablet"></i> tablet.</div>
                <div class="blue outline"><i class="browser"></i> browser.</div>
                <div class="violet outline"><i class="tablet"></i> tablet.</div>
            </div>
        </h2>
        <p>
            Padloc is available for
            <strong>Windows, MacOS, iOS, Android, and all other major platforms and browsers</strong>. We securely store
            your data in the cloud so you have access to it from anywhere, any time!
        </p>
        <p>
            Don't worry, <strong>your data is end-to-end encrypted</strong> so it's impossible for us or anyone else to
            read it! 
        </p>
        <p>
            Download Padloc now for...
        </p>
        <p>
            <ul class="unstyled spacing grid">
                <li>
                    <a href="{{ downloads.windows }}"><i class="fab fa-microsoft"></i> <strong>Windows</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.macos }}"><i class="fab fa-apple"></i> <strong>MacOS</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.linux }}"><i class="fab fa-linux"></i> <strong>Linux</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.android }}"><i class="fab fa-android"></i> <strong>Android</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.ios }}"><i class="fab fa-apple"></i> <strong>iOS</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.chrome }}"><i class="fab fa-chrome"></i> <strong>Google Chrome</strong></a>
                </li>
                <li>
                    <a href="{{ downloads.firefox }}"><i class="fab fa-firefox"></i> <strong>Firefox</strong></a>
                </li>
                <li>
                    <a href="{{ metadata.docsSite }}/downloads"><i class="download"></i> More Downloads</a>
                </li>
            </ul>
        </p>
    </div>

    <div style="height: 35em; width: 25em; max-width: 100%; position: relative; perspective: 1000px">
        <div class="morphing-frame desktop vertical layout">
            <div class="desktop-titlebar center-aligning horizontal layout">
                <div class="stretch"></div>
                <div class="desktop-titlebar-button"></div>
                <div class="desktop-titlebar-button"></div>
                <div class="desktop-titlebar-button"></div>
            </div>
            <div class="browser-url-bar spacing centering horizontal layout">
                <div class="stretch browser-url-input"></div>
                <i class="puzzle-piece"></i>
                <i class="ellipsis-v"></i>
            </div>
            <div class="phone-top centering spacing horizontal layout">
                <div class="phone-speaker"></div>
                <div class="phone-camera"></div>
            </div>
            <div class="horizontal layout stretch">
                <div class="tablet-left centering spacing vertical layout">
                    <div class="tablet-speaker"></div>
                    <div class="tablet-camera"></div>
                </div>
                <div class="stretch"></div>
                <div class="tablet-right centering vertical layout">
                    <div class="tablet-home-button"></div>
                </div>
            </div>
            <div class="viewport">
                <img
                    class="img-desktop"
                    src="/assets/img/screenshots/light/detail_desktop.webp"
                    alt="Screenshot of the Padloc desktop app."
                    loading="lazy"
                />
                <img
                    class="img-desktop"
                    src="/assets/img/screenshots/dark/detail_desktop.webp"
                    alt="Screenshot of the Padloc desktop app."
                    loading="lazy"
                />
                <img
                    class="img-phone"
                    src="/assets/img/screenshots/light/detail_phone.webp"
                    alt="Screenshot of the Padloc mobile phone app."
                    loading="lazy"
                />
                <img
                    class="img-phone"
                    src="/assets/img/screenshots/dark/detail_phone.webp"
                    alt="Screenshot of the Padloc mobile phone app."
                    loading="lazy"
                />
                <img
                    class="img-tablet"
                    src="/assets/img/screenshots/light/detail_tablet.webp"
                    alt="Screenshot of the Padloc tablet app."
                    loading="lazy"
                />
                <img
                    class="img-tablet"
                    src="/assets/img/screenshots/dark/detail_tablet.webp"
                    alt="Screenshot of the Padloc tablet app."
                    loading="lazy"
                />
                <img
                    class="img-browser"
                    src="/assets/img/screenshots/light/detail_browser.webp"
                    alt="Screenshot of the Padloc browser extension."
                    loading="lazy"
                />
                <img
                    class="img-browser"
                    src="/assets/img/screenshots/dark/detail_browser.webp"
                    alt="Screenshot of the Padloc browser extension."
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener("load", () => {
        const frame = document.querySelector(".morphing-frame");
        setInterval(() => {
            if (frame.classList.contains("desktop")) {
                frame.classList.replace("desktop", "phone");
                return;
            }
            if (frame.classList.contains("phone")) {
                frame.classList.replace("phone", "tablet");
                return;
            }
            if (frame.classList.contains("tablet")) {
                frame.classList.replace("tablet", "browser");
                return;
            }
            if (frame.classList.contains("browser")) {
                frame.classList.replace("browser", "desktop");
                return;
            }
        }, 3000);
    });
</script>
