{{ define "css" }}
    {{ template "basecss" }}
    {{ partial "styles/magazin.html" }}
    {{ partial "styles/section-menu" }}
    {{ partial "styles/search" }}
{{ end }}

{{ define "main" }}
    {{ partial "header" . }}

    <div class="main list">
        <ul class="categories-menu horizontal center-justifying layout">
            <li>
                <a href="/magazin">Alle Rubriken</a>
            </li>

            <li>
                <a
                    href="/magazin/rubriken/das-erfolgreiche-unternehmen"
                    class="{{ if eq .RelPermalink "/magazin/rubriken/das-erfolgreiche-unternehmen/" }}active{{ end }}"
                >
                    Das erfolgreiche Unternehmen
                </a>
            </li>

            <li>
                <a
                    href="/magazin/rubriken/das-gesunde-team"
                    class="{{ if eq .RelPermalink "/magazin/rubriken/das-gesunde-team/" }}active{{ end }}"
                >
                    Das Gesunde Team
                </a>
            </li>

            <li>
                <a
                    href="/magazin/rubriken/der-zufriedene-kunde"
                    class="{{ if eq .RelPermalink "/magazin/rubriken/der-zufriedene-kunde/" }}active{{ end }}"
                >
                    Der Zufriedene Kunde
                </a>
            </li>
        </ul>

        <ul class="articles animation-reveal-children">
            {{ range .Data.Pages }}
                {{ $author := index .Site.Data.staff (default "lstrasser" .Params.author) }}
                <li>
                    <article>
                        <div class="cover-image">
                            {{ if .Params.cover }}
                                {{ $coverRes := .Resources.GetMatch .Params.cover }}
                                {{ with $coverRes }}
                                    <img class="article-cover stretch collapse" src="{{ $coverRes.Permalink }}" />
                                    {{ else }}
                                    <img class="article-cover stretch collapse" src="{{ .Params.cover }}" />
                                {{ end }}
                            {{ end }}
                        </div>

                        <div class="article-categories">
                            {{ with .Param "magazin/rubriken" }}
                                {{ range . }}
                                    <div>{{ . }}</div>
                                {{ end }}
                                {{ else }}
                                <div>Sonstiges</div>
                            {{ end }}
                        </div>

                        <a href="{{ .RelPermalink }}" class="stretch">
                            <h2>{{ .Title }}</h2>
                        </a>

                        <div class="article-summary">
                            {{ default .Summary (.Param "description") }}...
                            <a href="{{ .RelPermalink }}" class="article-continue">
                                weiterlesen <i class="fas fa-arrow-right icon"></i>
                            </a>
                        </div>

                        <div class="horizontal center-aligning layout">
                            <div class="article-author center-aligning horizontal layout stretch">
                                <img class="article-author-image" src="{{ $author.image }}" />
                                <div class="article-author-name stretch">{{ $author.name }}</div>
                            </div>

                            <div class="article-date">
                                {{ with .PublishDate }}
                                    {{ dateFormat "Jan 2, 2006" . }}
                                {{ end }}
                            </div>
                        </div>
                    </article>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
