<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <title>{{ (main_title or title or metadata.title) | plainify | safe }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {% if redirect %}
        <meta http-equiv="refresh" content="0; url='{{ redirect }}'" />
        <link rel="canonical" href="{{ metadata.url }}{{ redirect }}" />
        {% else %}
        <link rel="canonical" href="{{ metadata.url }}{{ page.url }}" />
        {% endif %}

        <link rel="shortcut icon" type="image/png" href="/assets/img/icon.png" />

        <meta name="og:title" content="{{ (main_title or title or metadata.title) | plainify }}" />
        <meta name="description" content="{{ description or page.excerpt or metadata.description }}" />
        <meta name="og:description" content="{{ description or page.excerpt or metadata.description }}" />
        {% if cover %}
        <meta property="og:image" content="{{ cover }}" />
        {% endif %} {% block meta %}{% endblock %} {% block styles %}
        <!-- -->
        {% include "styles/vars.html" %}
        <!-- -->
        {% include "styles/base.html" %}
        <!-- -->
        {% include "styles/layout.html" %}
        <!-- -->
        {% include "styles/fonts.html" %}
        <!-- -->
        {% include "styles/icons.html" %}
        <!-- -->
        {% include "styles/animation.html" %}
        <!-- -->
        {% include "styles/header.html" %}
        <!-- -->
        {% endblock %}
        <!-- -->

        <script defer data-domain="pentacode.app" src="https://plausible.io/js/script.hash.outbound-links.js"></script>
        {# Cookie Banner #}
        <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/65cbe4cafe2d30f1ce062aed/script.js"></script>
        {% block js %} {% endblock %}

        <script src="/assets/js/scheduling.js" async></script>

    </head>
    <body>
        {% block body %} {% endblock %} {% block footer %} {% include "components/footer.html" %} {% endblock %} {%
        include "components/helpscout.html" %}
    </body>
</html>
