{% extends "./base.njk" %}<!-- -->

{% block styles %}

{{ super() }}

{% include "styles/home.html" %}<!-- -->
{% include "styles/divider.html" %}<!-- -->
{% include "styles/features.html" %}<!-- -->
{% include "styles/testimonials.html" %}<!-- -->
{% include "styles/preise.html" %}<!-- -->
{% include "styles/contact-us.html" %}<!-- -->

{% endblock %}<!-- -->

{% block js %}
    <script src="/assets/js/anime.min.js" async></script>
    <script src="/assets/js/animation.js" async></script>
{% endblock %}

{% block body %}
    {% include "components/header.njk" %}

    <section class="hero blue">
        <div class="inner">
            <div class="content">
                <h1 class="blue text-clip">{{ hero_title | markdownify | safe }}</h1>

                <h2 class="red">
                    {{ hero_subtitle | markdownify | safe }}
                </h2>

                <h3>
                    {{ hero_text | markdownify | safe }}
                </h3>

                <div class="buttons">
                    <a 
                        href="https://calendly.com/pentacode/demo"
                        data-open-scheduler="true"
                        class="btn highlight get-started"
                    >
                        <span>Jetzt Online Demo buchen</span>
                        <i class="icon fad fa-play-circle"></i>
                    </a>
                </div>
            </div>

            <div class="slides">
                <svg
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    style="position: absolute; opacity: 0; pointer-events: none;"
                >
                    <defs>
                        <linearGradient
                            class="hero-illustration-gradient"
                            id="hero_illustration_gradient"
                            gradientTransform="rotate(30)"
                        >
                            <stop class="stop1" offset="0%"></stop>
                            <stop class="stop2" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                </svg>
                <div class="hero-illustration-outer">
                    {% include "components/hero-illustration.html" %} {% include "components/hero-illustration.html" %}
                </div>
            </div>
        </div>

        {% include "components/divider.njk" %}
    </section>

    {% include "components/sections/features.njk" %}

    {% include "components/sections/testimonials.njk" %}

    {% include "components/sections/preise.njk" %}

    {% include "components/sections/contact-us.njk" %}

    {% include "components/provenexpert-seal.html" %}
{% endblock %}
